---
redirect_from:
  - '/portfolio/project/volt.html'
  - '/toolbox.html'
  - '/coaching.html'
  - '/cours.html'
  - '/cours/creer-site-web-sans-coder.html'
title: 'Développeur front-end'
layout: default
seo_description: "Développeur front-end. Je travail sur les design-system, je joue avec la JAM Stack et je m'intéresse a WASM."
---

<!-- set vtt_bzh variable -->
{% for project in site.data.projects %} {% if project.name == 'vtt.bzh' %} {% assign vtt_bzh = project %} {% endif %} {% endfor %}

<!-- Header
================================================== -->
<section id="cta" class="c-section c-section--main c-section--row">
  <div class="c-section__text">
    <h1 class="c-section__title">Je conçois l'interface web pensée avec votre équipe design dans le soucie de l'expérience utilisateur.</h1>

    <p>
      Moi c'est
      <a href="{{ site.data.config.url }}/about.html" rel="me">Nicolas Jouanno</a>, Lead front-end @MGDIS. Je conçois un design-system et travail sur des micro frontends.
    </p>
    <p>
      Je suis attentif à l'accessibilité et à l'éco-conception.
    </p>
    <p>
      Je joue avec la JAM Stack et je m'intéresse a WASM.
    </p>
    <p>
      Créateur de <a href="{{ vtt_bzh.url }}" target="_blank">vtt.bzh</a>.
    </p>
  </div>

  <img class="c-section__image" src="{{ site.data.authors.nicolas.avatar }}" alt="{{ site.data.authors.nicolas.display_name }}" />
</section>

<!-- About
================================================== -->

<section class="c-section c-section--primary">
  <h2>Du MVP à l'automatisation.</h2>
  <p>
    Vous êtes une startup ou une PME ? Vous voulez créer votre MVP pour toucher vos premiers utilisateur. Vous avez peut-être déjà trouvé votre Product Market Fit ou avez besoin de
    scaler pour suivre votre growth ?
  </p>

  <p>J'écris du HTML, CSS et JavaScript, et je prends soin de créer une expérience utilisateur agréable et accessible sur le web.</p>
  <p>
    Mon expertise de la stack de programmation Javascript, de son ecosytème et de ses frameworks (ex: NodeJS, AngularJS, VueJS, ...) me permettent de réaliser les développements
    front-end et back-end de votre application web.
  </p>

  <p>Ils me permettent de vous donner les clefs pour réussir le développement de votre projet SAAS.</p>

  <a href="{{ site.data.config.url }}/about.html" rel="me" class="c-button c-button--dark">En savoir plus sur moi <span class="icon icon--arrow-right"></span></a>

  <!-- technologies -->
  <ul class="c-icons-list">
    {% for technologie in site.data.technologies limit:10 %} {% if technologie.profile == true %}

    <li class="c-icons-list__element">
      <i class="{{technologie.icon}} icon--x3"></i>
    </li>

    {% endif %} {% endfor %}
  </ul>
</section>

<!-- Latest Projects
================================================== -->
<section class="c-section">
  <h2 class="">Projects.</h2>

  <div class="u-grid">
    <div class="u-grid__col-4">
      <p>
        J'expérimente moi-même énormément sur des side-projects avec un état d'esprit "fake it until you make it". Mon side project phare: vtt.bzh à compter jusqu'à
        <strong>10 000 visiteurs mensuel</strong>. Le lean startup et le Design Thinking sont des leviers puissants. Tous mes projets sont réalisés avec amour et passion.
      </p>

      <a href="{{ site.data.config.url }}/about.html" class="c-button c-button--primary">Découvrir mon travail <span class="icon icon--arrow-right"></span></a>
    </div>

    <div class="u-grid__col-8">
      <img src="/images/projets/ext-6.png" alt="vtt.bzh" />
      <h3 class="c-section__title c-section__title--center">
        <a href="portfolio/project/vtt-bzh.html">vtt.bzh</a>
      </h3>
    </div>
  </div>
</section>

<!-- Latest Stories
================================================== -->

<section class="c-section">
  <h2 class="h1 mb-5">Stories.</h2>

  <div class="c-section__post-list">{% for post in site.posts limit:3 %} {% include boxes/post.html class="col-lg-4" %} {% endfor %}</div>

  <div class="c-section__cta c-section__cta--center">
    <a href="/stories.html" class="c-button c-button--primary"> Voir plus de stories <span class="icon icon--arrow-right"></span> </a>
  </div>
</section>
