<!-- Categories Jumbotron
================================================== -->
<footer class="footer mt-5">

    <!-- signature -->
    <div class="jumbotron bg-footer">
        <div class="row pb-5 pt-5">
          <div class="col-md-8 mx-auto bg-light p-5" itemscope itemtype="http://schema.org/Quotation">
            <span class="h1 font-primary text-center" itemprop="text">"Pourquoi rejoindre la marine quand vous pouvez être un pirate ?"</span>
            <span itemscope itemtype="http://schema.org/Organization">
                <em class="d-block h5 mt-3">
                    - <span itemprop="name">Steve Jobs</span>
                </em>
            </span>    
          </div>
        </div>
    </div>

    <!-- credit -->

    <div class="container mt-3 mb-3 pb-4">
        <div class="row my-3 mb-2">
            <div class="col-md-3">
                <a class="d-block h2 text-dark" href="/">{{ site.title }}</a>
                <small class="d-block text-primary">{{ site.headline }}</small>
            </div>
            <div class="col-md-9 text-muted d-md-block d-lg-flex ">
                <div class="d-md-flex ml-md-auto">
                    <a href="{{ site.url }}/studio.html" class="d-block btn-small text-muted mr-3 my-auto">Freelance</a>
                    <a href="{{ site.url }}/coaching.html" class="d-block btn-small text-muted mr-3 my-auto">Consulting</a>
                    <a href="{{ site.url }}/stories.html" class="d-block btn-small text-muted mr-3 my-auto">Blog</a>
                    <a href="{{ site.url }}/academy.html" class="d-block btn-small text-muted mr-3 my-auto">Ressources</a>
                    <a href="{{ site.url }}/about.html" class="d-block btn-small text-muted mr-3 my-auto">A propos</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{{ site.data.authors.nicolas.linkedin }}" class="shadow btn btn-outline-dark p-3 d-block mb-3 my-auto" target="_blank" rel="me">Voir mon cv →</a>
                    <a href="{% if page.url == '/' %}#cta{% else %}#nav-top{% endif %}" class="p-3 d-block mb-3 my-auto"><i class="fa-2x fas fa-arrow-up"></i></a>    
                </div>
            </div>
        </div>

        <div class="row signature py-3">
            <div class="col-md-6 text-sm-center text-lg-left text-muted my-2">
                © 2013 - {{ site.time | date: "%Y" }}. Création, design et développement avec <i class="fas fa-heart text-primary"></i> par <span class="text-primary">{{ site.data.authors.nicolas.display_name }}</span>
            </div>
            <div class="col-md-6 text-sm-center text-lg-right text-muted d-sm-block d-md-flex my-2">
                <span class="mr-3 d-sm-block d-md-inline-block text-right ml-md-auto pb-2">Restons en contact sur → </span>
                <div class="d-md-flex d-sm-block">
                    <a class="mr-2 text-muted btn-small" href="{{ site.data.authors.nicolas.twitter }}" target="_blank" rel="me"><i class="fa-2x fab fa-twitter"></i></a>
                    <a class="mr-2 text-muted btn-small" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
                    <a class="mr-2 text-muted btn-small" href="{{ site.url }}/feed.xml" type="application/rss+xml"><i class="fas fa-rss fa-2x"></i></a>
                </div>
            </div>
        </div>

    </div>
</footer>
