<!-- Categories Jumbotron
================================================== -->
<footer class="footer mt-5">

    {% if page.layout != "landing" and page.url != "/" and page.url != "/index.html" %}

      <!-- instafeed -->
      <div class="container">
          <div class="row mt-5 mb-5" id="instafeed">
              <div class="col-lg-2 col-sm-4 mx-auto mb-2">
                <a href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}/" rel="nofollow" target="_blank" class="d-block text-center pt-2 mb-2">
                    <i class="fab fa-instagram fa-3x"></i><br><span class="d-block mt-2 font-primary h3 text-dark">Instagram</span><span>@nicolasjouanno</span>
                </a>
              </div>
          </div>    
      </div>

    {% endif %}


    <!-- signature -->
    <div class="jumbotron bg-footer">
        <div class="row pb-5 pt-5">
          <div class="col-md-8 mx-auto bg-light p-5" itemscope itemtype="http://schema.org/Quotation">
            <span class="h1 font-primary text-center" itemprop="text">"Pourquoi rejoindre la marine quand vous pouvez être un pirate ?"</span>
            <span itemscope itemtype="http://schema.org/Organization">
                <em class="d-block h5 mt-3">
                    - <span itemprop="name">Steve Jobs</span>
                </em>
            </span>    
          </div>
        </div>
    </div>

    <!-- credit -->

    <div class="container mt-3 mb-3 pb-4">
        <div class="row my-3 mb-2">
            <div class="col-md-3">
                <a class="d-block h2 text-dark" href="/">{{ site.title }}</a>
                <small class="d-block text-primary">{{ site.headline }}</small>
            </div>
            <div class="col-md-9 text-muted d-md-block d-lg-flex ">
                <div class="d-md-flex ml-md-auto">
                    <a href="{{ site.url }}/studio.html" class="d-block text-muted mr-3 my-auto">Studio</a>
                    <a href="{{ site.url }}/coaching.html" class="d-block text-muted mr-3 my-auto">On Demand</a>
                    <a href="{{ site.url }}/academy.html" class="d-block text-muted mr-3 my-auto">Academy</a>
                    <a href="{{ site.url }}/stories.html" class="d-block text-muted mr-3 my-auto" target="_blank">Stories</a>
                    <a href="{{ site.url }}/club.html" class="d-block text-muted mr-3 my-auto">Club</a>
                    <a href="{{ site.url }}/about.html" class="d-block text-muted mr-3 my-auto">Contact</a>                    
                </div>
                <div class="d-flex">
                    <a href="{{ site.url }}/devis.html" class="shadow btn btn-outline-dark p-3 d-block mb-3 my-auto">Demander un devis</a>
                    <a href="{% if page.url == '/' %}#cta{% else %}#nav-top{% endif %}" class="p-3 d-block mb-3 my-auto"><i class="fa-2x fas fa-arrow-up"></i></a>    
                </div>
            </div>
        </div>

        <div class="row signature py-3">
            <div class="col-md-6 text-sm-center text-lg-left text-muted my-2">
                © 2013 - {{ site.time | date: "%Y" }}. Création, design et développement avec <i class="fas fa-heart text-primary"></i> par <span class="text-primary">{{ site.data.authors.nicolas.display_name }}</span>
                <br><a href="{{ site.url }}/advertise.html"><u>Sponsoriser la prochaine story</u></a> | <a href="{{ site.url }}/club.html"><u>Rejoindre le club</u></a>
            </div>
            <div class="col-md-6 text-sm-center text-lg-right text-muted d-flex my-2">
                <span class="mr-3 d-inline-block text-right ml-md-auto pb-2">Restons en contact sur → </span>
                <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.twitter }}" target="_blank" rel="me"><i class="fa-2x fab fa-twitter"></i></a>
                <a class="mr-2 text-muted" href="https://instagram.com/{{ site.data.authors.nicolas.instagram }}" target="_blank" rel="me"><i class="fa-2x fab fa-instagram"></i></a>
                <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
                <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.facebook }}" target="_blank" rel="me"><i class="fa-2x fab fa-facebook"></i></a>
                <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.mediumcom }}" target="_blank" rel="me"><i class="fa-2x fab fa-medium"></i></a>
                <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.strava }}" target="_blank" rel="me"><i class="fa-2x fab fa-strava"></i></a>
                <a class="mr-2 text-muted" href="{{ site.url }}/feed.xml" type="application/rss+xml"><i class="fas fa-rss fa-2x"></i></a>
            </div>
        </div>

    </div>
</footer>