---
layout: activities
title: Bio / Contact
summary: "Chef de projet digital et Product Manager freelance en Bretagne, j’ai 31 ans dont 8 ans d’expérience dans la gestion de projet digital."
---
<span class="d-block inspiration-2 mb-5 img-header-h"></span>

<h2 class="mt-5 font-primary">Chef de projet digital & Product Manager freelance</h2>

<em class="text-muted"></em>

<!-- <ul class="mt-5">
  <li><a href="#chef-projet-digital">Qu’est-ce qu’un chef de projet digital ?</a></li>
  <li><a href="#missions">Que fait un chef de projet digital ?</a></li>
  <li><a href="#champs-actions">Quel est le champ d'action du chef de projet digital ?</a></li>
  <li><a href="#qui-est">Qui est le chef de projet digital ?</a></li>
  <li><a href="#structure">Comment s'intègre le chef de projet digital dans ma structure ?</a></li>
  <li><a href="#experience">Mon expérience de chef du projet digital</a></li>
  <li><a href="#technique">Mes spécialités techniques</a></li>
  <li><a href="#marketing">Mes spécialités marketing</a></li>
  <li><a href="#design">Mes spécialités design</a></li>
</ul> -->



<h3 class="h5 text-primary mt-5 mb-5" id="chef-projet-digital">Parcours, profil et expertises</h3>

<h4>Je suis actuellement disponible pour des missions freelance.</h4>

<p>C'est après avoir obtenue mon BTS Management des Unités Commerciales que j'ai mis fin à mon cursus scolaire initial en 2008. La raison est simple, ma passion pour le sport et plus précisément le cyclisme, m'a fait connaître le monde du sport professionnel pendant deux ans et demi. Période pendant laquelle, par passion j'ai continué à me former en autodidact au métier de webmaster. J'ai exercé le métier <a href="/creation-site-internet.html">webmaster freelance</a> pendant cette même période.</p>

<p>Revenant dans le monde du travail professionnel traditionnel en 2010, je rejoins un groupement de magasins Twinner indépendants comme <a href="/consultant-marketing-freelance.html">Responsable communication et marketing</a>. Ma passion pour le sport m'a donné l'envie de créer ma première entreprise: un commerce de sport spécialisé. J'ai mis toute mon énergie pendant trois ans mon mené à bien ce projet et développer une stratégie digital. C'est après avoir eu la proposition de reprise du site e-commerce  créé pour le magasin par un groupement de sept magasins GO Sport, que j'ai redécouvert le monde du salariat et profité de cette nouvelle mission pour me spécialiser et me former aux techniques du marketing digital, de la tech et du design en "cours du soir" à distance.</p>

<p>J'ai maintenant 31 ans et me voilà avec déjà plus de 10 ans d'expériences cumulées dans le web et le marketing. Je gère des projets qui vont de la <a href="/creation-site-internet.html">création de site internet</a> au <a href="/product-manager.html">product management</a> de produits digitaux. Pour mener à bien ces missions, je choisis et coordonnes freelances et équipes de production digital composés de développeurs, créatifs et marketeurs. Je réalise aussi des missions plus spécialisées comme le web-developpement, l'UX/UI design, de graphiste et de <a href="/consultant-marketing-freelance.html">consultant marketing</a>.</p>

<p>Je mène également quelques side projects en parallèle de mon travail. Mon premier est le blog <a href="{{ site.data.authors.nicolas.blog }}" rel="nofollow" target="_blank">le décodeur</a>, (ex-vtt.bzh). J'ai commencé à développer ce blog en 2013, en parlant de ma passion pour le VTT puis mes aspirations divers pour les sports outdoor et le partage d'expérience m'ont amené à le dé-spécialisé. Il cumule à ce jour plus 5000 visiteurs /mois et +2500 abonnées à sa newsletter.</p>

<p>En 2018, j'ai également imaginé et créer une webapp <a href="https://feezify.me">feezify.me</a> pour permettre aux sportifs de gérer leur fatigue physique et mentale. Ce projet technique me permet de mettre à l'épreuve mes connaissances en product management, en gestion de projet et en marketing. Un vrai challenge dont les limites sont repoussées par les demandes de mon entourage sportif.</p>

<h3 class="h5 text-primary mt-5 mb-5" id="chef-projet-digital">Contactez-moi</h3>

<p>Vous pouvez me contacter <strong>directement par mail</strong> à l'adresse <a href="mailto:{{ site.data.authors.nicolas.email }}">{{ site.data.authors.nicolas.email }}</a>.</p>

<h3 class="h5 text-primary mt-5 mb-5" id="chef-projet-digital">Expertises freelance</h3>

{% for activity in site.data.activities %}

  <a href="{{ activity.url }}" class="text-muted">{{ activity.name }}</a>

  {% if forloop.last == false %}, {% endif %}

{% endfor %}

<h3 class="h5 text-primary mt-5 mb-5" id="chef-projet-digital">Expertises</h3>

{% for expertise in site.data.expertises %}

  <a href="{{ expertise.url }}" class="text-muted">{{ expertise.name }}</a>

  {% if forloop.last == false %}, {% endif %}

{% endfor %}