---
layout: default
title: "ex-cycliste professionnel, bloggeur & créateur digital"
seo_description: "ex-cycliste professionnel, bloggeur & créateur digital pour les sportifs qui prennent soin d'eux et veulent rester motiver"
---

<!-- Newsletter
================================================== -->
<div id="cta" class="container-fluid d-block pb-5 pt-5 bg-header">
        
    <div class="d-block pt-5 pb-4 mt-5 mb-5 bg-light-transparent">
            
        <div class="row">

            <div class="col-md-10 col-lg-8 mx-auto">

                <h1 class='d-block font-primary pt-5 mb-5 text-center' itemprop="name">{{site.data.authors.nicolas.post_cta}}</h1>

                  <form
                      action="https://app.convertkit.com/forms/733285/subscriptions"
                      class="seva-form formkit-form mb-5 d-inline w-100 d-block mx-auto"
                      method="post"
                      data-sv-form="733285"
                      data-uid="0f89d29dda"
                      data-format="inline"
                      data-version="5"
                      data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;redirect_url&quot;:&quot;&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false}}}">

                      <div data-style="naked" class="mc-field-group">
                          <ul data-element="errors" data-group="alert"></ul>
                          <div class="seva-fields" data-element="fields" data-stacked="false">
                              <!-- <input name="first_name" class="required" placeholder="Votre prénom" required type="text"> -->
                              <input name="email_address" placeholder="mon@email.com" required type="email" class="required email">
                              <button data-element="submit" class="btn btn-secondary">Je commence</button>
                          </div>
                      </div>

                  </form>  

            </div>

        </div>

    </div>

</div>

<!-- Latest Posts
================================================== -->
<section class="featured-posts pt-5 d-block">

    <div class="container">

        <div class="section-title">
            
            <h2 class="d-block mb-5"><span class=" font-primary">Dernières stories</span></h2>
            
        </div>
        
        <div class="row latest-posts">

            <span class="infinite-spinner"></span>

        </div>

        <div class="row">
            <div class="col-12 text-center mt-3 mb-5">
                <a href="https://blog.nicolasjouanno.com" class="btn btn-primary p-3">Voir toutes les stories</a> 
            </div>
        </div>

    </div>

</section>

<!-- Application
================================================== -->
<section class="container pb-5 mt-5">

    <div class="section-title">
        
        <h2 class="d-block mb-5"><span class=" font-primary">Application</span></h2>
        
    </div>    

    <article>
        
        <div class="row">

            <div class="col-md-4 text-center">
                <a href="https://app.nicolasjouanno.com">
                    <img src="/assets/public/images/feezifyme.png" alt="application feezify:me" class="img-fluid" itemprop="image">
                </a>
            </div>
            <div class="col-md-8 text-sm-center text-md-left ">
                <h3 class="h1 d-block mt-5 mb-5 font-primary" itemprop="headline">Optimisez votre récupération physique et psychologique.</h3>
                <em class="d-block mb-5" itemprop="description">Testez votre forme, suivez vos volumes d'activités et gardez un historique de vos sorties. En plus, l'application se connecte à votre compte STRAVA.</em>
                <small class="d-block mt-2 mb-2">Pensez et développé par <span itemprop="author">Nicolas Jouanno</span></small>
                <div class="row">
                    <div class="col-auto mx-sm-auto mx-md-0 text-sm-center text-md-left">
                        <a href="https://app.nicolasjouanno.com" class="btn btn-primary p-3">Découvrir l'application</a>
                        <span class="text-muted d-block">100% gratuit</span>
                    </div>
                    <div class="col-auto d-sm-none d-md-flex text-sm-center text-md-left">
                        <img src="/assets/public/images/responsive_web_design.png" alt="responsive" class="img-fluid img-thumbnail"> 
                    </div>
                </div>
            </div>
            
        </div> 

    </article>

</section>

<!-- Shopping
================================================== -->
<section class="d-block mt-5">

    <div class="container pb-5">
            
      <div class="section-title">
          
          <h2 class="d-block mb-5"><span class=" font-primary">Shopping</span></h2>
          
      </div>
      
      <div class="row">
          
          {% for equipement in site.data.equipements limit:4 %}

              <div class="col-lg-3 col-md-4">

                  {% include productbox.html %}

              </div>

          {% endfor %}
          
      </div>

      <div class="row">

        <div class="col-12 text-center mt-3">

          <a href="/shop/index.html" class="btn btn-primary p-3">Voir tous les produits</a>

        </div>

      </div>

    </div>

</section>

<div class="container-fluid pt-5 pb-5 bg-light">
  <div class="row mt-5">
    <div class="col-12 mb-3">
      <h2 class="font-primary text-center">Continuons d'écrire l'histoire ensemble :</h2>
    </div>
  </div>
  <div class="row mb-5 ">
    <div class="col-12 mt-2 text-center">
      <a href="#cta" class="btn btn-outline-primary p-3 mr-3 ml-3 mt-2 text-center d-lg-inline d-block">Inscrivez-vous à la newsletter</a>
      <a href="https://blog.nicolasjouanno.com" class="btn btn-outline-primary p-3 mr-3 ml-3 mt-2 text-center d-lg-inline d-block">Lisez votre première storie</a>
      <a href="https://app.nicolasjouanno.com" class="btn btn-outline-primary p-3 mr-3 ml-3 mt-2 text-center d-lg-inline d-block">Découvrez l'application</a>
    </div>
  </div>
</div>
