$section-padding: 2rem 6rem;
$variants: 'primary', 'secondary', 'dark', 'light';

@mixin section-variantes($variants) {
  @each $variant in $variants {
    &.c-section--#{$variant} {
      background-color: var(--color-#{$variant});
      color: var(--color-#{$variant}-with);
    }
  }
}

.c-section {
  padding: $section-padding;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title.c-section__title--center {
    text-align: center;
  }

  &__cta {
    display: flex;

    &--center {
      justify-content: center;
    }
  }

  &__post-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    list-style:none;
    gap: 1rem;
  }

  &.c-section--main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: calc(var(--font-size) * 3);
      line-height: calc(var(--line-height) * 3);
    }
  }

  &.c-section--row {
    flex-direction: row;
  }

  @include section-variantes($variants);
}

@media screen and (width <= 900px) {
  .c-section {
    padding: 2rem;
  }

  .c-section--main.c-section {
    flex-wrap: wrap;

    .c-section__image {
      order: 1;
    }

    .c-section__text {
      order: 2;
    }

    .c-section__title {
      font-size: calc(var(--font-size) * 2);
      line-height: calc(var(--line-height) * 2);
    }
  }
}
