---
title: "Les leçons"
layout: default
permalink: "/lessons/"
---
<!-- Begin List Posts
================================================== -->
<section class="recent-posts container">
  <div class="section-title py-5">
      <div class="d-block">
          <small>
              <a href="{{ site.url }}" class="text-muted">Nicolas Jouanno</a> > <a href="{{ site.url }}/academy.html" class="text-muted">Academy</a> >  <a href="{{ site.url }}/lessons/">Leçons</a>
          </small>                                
      </div>
      <h1 class="mt-3">Toutes les leçons</h1>
  </div>

  <div class="row listrecent">

    {% assign lessons = site.posts | where: "categories","academy" %}

    {% for post in lessons %}

      {% include /boxes/post.html type=page.entries_layout %}

    {% endfor %}

  </div>

</section>