.c-layout {
  &__header {
    padding: var(--section-spacing);
  }

  &__breadcrumb {
    margin-bottom: var(--size-8);

    ol {
      margin: 0;
      padding-left: 0;
      list-style: none;
    }

    li {
      display: inline;
    }
    
    li + li::before {
      display: inline-block;
      margin: 0 var(--size-4);
      transform: rotate(15deg);
      border-right: 0.1em solid currentcolor;
      height: var(--size-8);
      content: "";
    }
    
    [aria-current="page"] {
      color: var(--color-dark);
      font-weight: 700;
      text-decoration: none;
    }
  }

  &__footer {
    text-align: center;
  }

  &__author {
    display: flex;
  }

  &__content {
    padding: var(--section-spacing-y) var(--size-16);
    max-width: var(--breakpoint-m);
    margin: auto;

    p, ul:not(.c-section__post-list) {
      font-family: var(--font-family-reading);
    }
  }

  &.c-layout--layout-default {
    .c-layout__content {
      padding: 0;
    }
  }

  &.c-layout--layout-page {
    p {
      padding-bottom: var(--size-8);
    }
  }

  @media screen and (width <= 90rem) {
    &__footer {
      padding-bottom: var(--size-64) !important;
    }
  }
}
