<!-- Categories Jumbotron
================================================== -->
<footer class="footer">
    <!-- instafeed -->
    <div class="container">
        <div class="row mt-5 mb-5" id="instafeed">
            <div class="col-lg-2 col-sm-4 mx-auto mb-2">
                <a href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}/" rel="nofollow" target="_blank" class="d-block text-center pt-2 mb-2"><i class="fab fa-instagram fa-3x"></i><br><span class="d-block mt-2 font-primary h3 text-dark">Instagram</span><span>@nicolasjouanno</span></a>
            </div>
        </div>    
    </div>


    <!-- signature -->
    <div class="jumbotron bg-footer">
        <div class="row pb-5 pt-5">
          <div class="col-md-8 mx-auto bg-light p-5" itemscope itemtype="http://schema.org/Quotation">
            <span class="h1 font-primary text-center" itemprop="text">"Pourquoi rejoindre la marine quand vous pouvez être un pirate ?"</span>
            <span itemscope itemtype="http://schema.org/Organization">
                <em class="d-block h5 mt-3">
                    - <span itemprop="name">Steve Jobs</span>
                </em>
            </span>    
          </div>
        </div>
    </div>

    <!-- credit -->

    <div class="container mt-3 pb-4">
        <div class="row mt-3 mb-2">
            <div class="col-md-3">
                <span class="d-block h2">{{ site.title }}</span>
                <span class="d-block text-primary">— {{ site.headline }} —</span>
                <span class="d-block">j'ai 31 ans, je suis passionnée d'outdoor, de challenge et de belles images.</span>
            </div>
            <div class="col-md-2 text-muted">
                <strong class="d-block text-muted mb-2">Les stories</strong>
                <a href="https://blog.nicolasjouanno.com/categories/atelier.html" rel="nofollow" class="d-block text-muted">#Atelier</a>
                <a href="https://blog.nicolasjouanno.com/categories/aventure.html" rel="nofollow" class="d-block text-muted">#Aventure</a>
                <a href="https://blog.nicolasjouanno.com/categories/inspiration.html" rel="nofollow" class="d-block text-muted">#Inspiration</a>
                <a href="https://blog.nicolasjouanno.com/categories/coach.html" rel="nofollow" class="d-block text-muted">#Coach</a>
                <a href="https://blog.nicolasjouanno.com/categories/vestiaire.html" rel="nofollow" class="d-block text-muted">#Vestiaire</a>
                <a href="https://blog.nicolasjouanno.com/categories/coulisses.html" rel="nofollow" class="d-block text-muted">#Coulisses</a>
            </div>
            <div class="col-md-2 text-muted">
                <strong class="d-block text-muted mb-2">Les services</strong>
                <a href="https://app.nicolasjouanno.com" rel="nofollow" class="d-block text-muted">Feezify:me</a>
                <a href="https://nicolasjouanno.com/shop/index.html" rel="nofollow" class="d-block text-muted">L'e-shop</a>
                <a href="https://nicolasjouanno.com/studio.html" rel="nofollow" class="d-block text-muted">Le studio</a>
            </div>
            <div class="col-md-2 text-muted">
                <a href="https://nicolasjouanno.com/edito.html" rel="nofollow" class="d-block text-muted mb-2 font-weight-bold">Edito</a>
                <a href="https://nicolasjouanno.com/product-manager.html" rel="nofollow" class="d-block text-muted mb-2 font-weight-bold">Expertises</a>
                <a href="https://nicolasjouanno.com//studio.html#technologies" rel="nofollow" class="d-block text-muted mb-2 font-weight-bold">Technologies</a>
                <a href="https://nicolasjouanno.com/portfolio.html" rel="nofollow" class="d-block text-muted mb-2 font-weight-bold">Portfolio</a>
                <a href="https://nicolasjouanno.com/about.html" rel="nofollow" class="d-block text-muted mb-2 font-weight-bold">Contact</a>
            </div>            
            <div class="col-md-3">
                <span class="d-block h3">Newsletter</span>
                <small class="d-block text-muted">{{site.data.authors.nicolas.post_cta}}</small>
              <form
                  action="https://app.convertkit.com/forms/733285/subscriptions"
                  class="seva-form formkit-form mb-5 d-inline w-100 d-block mx-auto"
                  method="post"
                  data-sv-form="733285"
                  data-uid="0f89d29dda"
                  data-format="inline"
                  data-version="5"
                  data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;redirect_url&quot;:&quot;&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false}}}">

                  <div data-style="naked" class="mc-field-group">
                      <ul data-element="errors" data-group="alert"></ul>
                      <div class="seva-fields" data-element="fields" data-stacked="false">
                          <!-- <input name="first_name" class="required" placeholder="Votre prénom" required type="text"> -->
                          <input name="email_address" placeholder="mon@email.com" required type="email" class="required email">
                          <button data-element="submit" class="btn btn-primary">Je commence</button>
                      </div>
                  </div>

              </form>                 
            </div>
        </div>
        <div class="row signature">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                Création, design et développement avec <i class="fas fa-heart"></i> par <a title="Nicolas Jouanno - PRODUCT MANAGER, skills MARKETING, DESIGN & TECH" href="{{ site.data.authors.nicolas.web }}" rel="nofollow" target="_blank">{{ site.data.authors.nicolas.display_name }}</a>
            </div>
        </div>
    </div>
</footer>