<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">
    <div class="row">
        <div class="col-md-4 align-self-center text-center">
            <span class="h2 mt-2 d-md-block d-none">Sur les réseaux →</span>
        </div>
        <div class="col-md-8 align-self-center text-center">
          <div class="row text-center">
            <div class="col-md-8 bg-light pt-5 pb-5 mx-auto rounded">
              <div class="row">
                <div class="col-3">
                  <a href="mailto:{{ site.data.authors.nicolas.email }}" rel="nofollow"><i class="fa-2x fas fa-at text-dark"></i></a>
                </div>
                <div class="col-3">
                  <a href="{{ site.data.authors.nicolas.twitter }}" target="_blank" rel="nofollow"><i class="fa-2x fab fa-twitter text-dark"></i></a>
                </div>
                <div class="col-3">
                  <a href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="nofollow"><i class="fa-2x fab fa-linkedin-in text-dark"></i></a>
                </div>
                <div class="col-3">
                  <a href="{{ site.data.authors.nicolas.github }}" target="_blank" rel="nofollow"><i class="fa-2x fab fa-github text-dark"></i></a>
                </div>                
              </div>
            </div>
          </div>          
        </div>
    </div>
</div>

<footer class="footer mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                Création, design et développement avec <i class="fas fa-heart"></i> par <a title="Nicolas Jouanno - PRODUCT MANAGER, skills MARKETING, DESIGN & TECH" href="{{ site.data.authors.nicolas.web }}" rel="nofollow" target="_blank">{{ site.data.authors.nicolas.display_name }}</a>
            </div>
        </div>
    </div>
</footer>