<!-- Categories Jumbotron
================================================== -->
<footer class="footer">
    <!-- instafeed -->
    <div class="container">
        <div class="row mt-5 mb-5" id="instafeed">
            <div class="col-lg-2 col-sm-4 mx-auto mb-2">
                <a href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}/" rel="nofollow" target="_blank" class="d-block text-center pt-2 mb-2"><i class="fab fa-instagram fa-3x"></i><br><span class="d-block mt-2 font-primary h3">Instagram</span><span>@nicolasjouanno</span></a>
            </div>
        </div>    
    </div>


    <!-- signature -->
    <div class="jumbotron bg-footer bg">
        <div class="row pb-5 pt-5">
          <div class="col-md-8 mx-auto bg-light p-5" itemscope itemtype="http://schema.org/Quotation">
            <span class="h1 font-primary text-center" itemprop="text">"Pourquoi rejoindre la marine quand vous pouvez être un pirate ?"</span>
            <span itemscope itemtype="http://schema.org/Organization">
                <em class="d-block h5 mt-3">
                    - <span itemprop="name">Steve Jobs</span>
                </em>
            </span>    
          </div>
        </div>
    </div>

    <!-- credit -->

    <div class="container mt-3 pb-4">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                Création, design et développement avec <i class="fas fa-heart"></i> par <a title="Nicolas Jouanno - PRODUCT MANAGER, skills MARKETING, DESIGN & TECH" href="{{ site.data.authors.nicolas.web }}" rel="nofollow" target="_blank">{{ site.data.authors.nicolas.display_name }}</a>
            </div>
        </div>
    </div>
</footer>