<header class="container-fluid">

    <div id="nav-top" class="row">
        <div class="col-12">
            {% include menu_main.html %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 mainheading">
          
            <a href="{{ site.url }}">
              <span class="sitetitle d-block text-center text-capitalize pt-3 pb-2 text-dark h1">
                {{ site.title }}
              </span>
            </a>
            <span class="d-block text-center pb-4 text-primary">— {{ site.headline }} —</span>

        </div>
    </div>

</header>
