<header class="container-fluid mb-5 pb-4">

    <div id="nav-top" class="row fixed-top">

        <div class="col-12 d-flex justify-content-between">

            <a href="{{ site.url }}" class="bg-white px-3">

              <span class="sitetitle d-block text-center text-capitalize pt-3 pb-2 text-dark h1">
                {{ site.title }}
              </span>

            </a>    

            {% include menu_main.html %}

            <a class="nav-link btn btn-outline-light my-auto d-none d-md-flex" href="https://blog.nicolasjouanno.com#cta">

                <span class="my-auto d-block"><i class="far fa-envelope mr-2"></i>Newsletter</span>

            </a>

        </div>
        
    </div>

</header>
