<header class="container-fluid mb-5 pb-4">

    <div id="nav-top" class="row fixed-top">

        <div class="col-12 d-flex justify-content-between">

            <a href="{{ site.url }}" class="bg-white px-3">

              <span class="sitetitle d-block text-center text-capitalize pt-3 pb-2 text-dark h1">
                {{ site.title }}
              </span>

            </a>    

            {% include menu_main.html %}

            <div class="d-none d-md-flex">
                <a class="nav-link btn btn-outline-light my-auto d-flex" href="https://blog.nicolasjouanno.com#cta">
                    <span class="my-auto d-inline-block">
                        <i class="far fa-envelope mr-2"></i>Newsletter
                    </span>
                </a>

                <span class="my-auto d-inline-block">
                    <a class="btn btn-outline-light mr-2" href="{{ site.data.authors.nicolas.facebook }}" target="_blank"><i class="fa-2x fab fa-facebook-square"></i></a>
                </span>

                <span class="my-auto d-inline-block">
                    <a class="btn btn-outline-light mr-2" href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}" target="_blank"><i class="fa-2x fab fa-instagram"></i></a>
                </span>

                <span class="my-auto d-inline-block">
                    <a class="btn btn-outline-light mr-2" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank"><i class="fa-2x fab fa-linkedin"></i></a>
                </span>    

            </div>

        </div>
        
    </div>

</header>
