<!-- Begin Menu Navigation
================================================== -->
<nav id="nav-top" class="navbar navbar-expand-lg navbar-dark nav-down border border-top-0 border-right-0 border-left-0">
    <div class="container pr-0"> 
        <!-- Site Title
        ================================================== -->
        <!-- Begin Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMediumish">
            <!-- Begin Menu -->
            <ul class="navbar-nav mx-auto">

              {% if page.url == "/" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}"><i class="fas fa-home"></i></a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0" href="https://blog.nicolasjouanno.com" rel="nofollow">Stories</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0 " href="https://app.nicolasjouanno.com" rel="nofollow">
                  <div class="d-flex mx-auto">
                    <div class="d-block mx-auto">
                      <div class="d-flex">
                        <span class="d-block">Feezify:me</span>
                        <small class="d-block ml-1 my-top text-danger">new</small> 
                      </div>
                    </div>            
                  </div>
                </a>
              </li>

              {% if page.url == "/shop/index.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/shop/index.html">Shopping</a>
              </li>

              {% if page.url == "/edito.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/edito.html">Concept</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light" href="{{ site.url }}#cta"><i class="far fa-envelope mr-2"></i>Newsletter</a>
              </li>

          </ul>
          <!-- End Menu -->
        </div>
    </div>
</nav>    
<!-- End Navigation
================================================== -->  