<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark nav-down">
    <div class="container pr-0"> 
        <!-- Site Title
        ================================================== -->
        <!-- Begin Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMediumish">
            <!-- Begin Menu -->
            <ul class="navbar-nav mx-auto">

              {% if page.url == "/studio.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/studio.html">Studio</a>
              </li>

              {% if page.url == "/toolbox.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/toolbox.html">Toolbox</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0 " href="https://app.nicolasjouanno.com">
                  <div class="d-flex mx-auto">
                    <div class="d-block mx-auto">
                      <div class="d-flex">
                        <span class="d-block">Feezify:me</span>
                        <small class="d-block ml-1 my-top text-danger">new</small> 
                      </div>
                    </div>            
                  </div>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0" href="https://blog.nicolasjouanno.com">Stories</a>
              </li>

              <li class="nav-item d-md-none d-sm-flex">
                <a class="nav-link btn btn-outline-light mr-2" href="https://blog.nicolasjouanno.com#cta"><i class="far fa-envelope"></i>Newsletter</a>
                <a class="btn btn-outline-light mr-2" href="{{ site.data.authors.nicolas.facebook }}" target="_blank"><i class="fa-2x fab fa-facebook-square"></i></a>
                <a class="btn btn-outline-light mr-2" href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}" target="_blank"><i class="fa-2x fab fa-instagram"></i></a>
                <a class="btn btn-outline-light mr-2" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank"><i class="fa-2x fab fa-linkedin"></i></a>
              </li>

          </ul>
          <!-- End Menu -->
        </div>
    </div>
</nav>    
<!-- End Navigation
================================================== -->  
