<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white mediumnavigation nav-down">
    <div class="container pr-0"> 
        <!-- Site Title
        ================================================== -->
        <!-- Begin Logo -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarMediumish">
            <!-- Begin Menu -->
            <ul class="navbar-nav mx-auto">

              {% if page.url == "/" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}"><i class="fas fa-home"></i></a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0" href="https://blog.nicolasjouanno.com" rel="nofollow" target="_blank">Blog</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light border-0" href="https://app.nicolasjouanno.com" rel="nofollow" target="_blank">
                  <div class="d-flex">
                    <span class="d-block">Feezify:me</span>
                    <small class="d-block ml-1 my-top text-danger">new</small>                    
                  </div>
                </a>
              </li>

              {% if page.url == "/pages/soutenir.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/pages/soutenir.html">Soutenir</a>
              </li>

              {% if page.url == "/creation-site-internet.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/creation-site-internet.html">Freelance</a>
              </li>

              {% if page.url == "/about.html" %}
                  <li class="nav-item active">
              {% else %}
                  <li class="nav-item">
              {% endif %}
                <a class="nav-link btn btn-outline-light border-0" href="{{ site.url }}/about.html">Bio / Contact</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary" href="{{ site.url }}#cta"><i class="far fa-envelope mr-2"></i>Newsletter</a>
              </li>

          </ul>
          <!-- End Menu -->
        </div>
    </div>
</nav>    
<!-- End Navigation
================================================== -->  