<div class="col-md-4">
           
    <h3 class=" bg-light border border-muted pt-3 pb-3">

      {% if page.url == "/" %}

        {{ offre.name }}

      {% else %}

        <a href="{{ offre.url }}" class="text-dark d-block">{{ offre.name }}</a>

      {% endif %}

      
    </h3>

    <img src="{{ offre.img }}" alt="{{ offre.name }}" class="img-fluid" style="max-width: 300px; max-height: 200px;">
           
    {% for feature in offre.features %}
           
      <div class="d-block text-muted">{{ feature.name }}</div>
           
    {% endfor %} 

    {% if page.url != "/" %}

      <a href="{{ offre.url }}" class="btn btn-primary my-3">Je m'intéresse à un {{ offre.name }}</a>

    {% endif %}
       
</div>