<div class="row pb-5 {% if page.url == "/portfolio.html" %}border-bottom{% endif %} ">

  <div class="col-12 p-2 text-center mx-auto mt-5">

    <span class="d-block p-2">

      <img src="{{ project.images[0] }}" alt="{{ project.name }}" class="img-fluid">

      <h3 class="mt-4 mb-4 h4 text-center">

        {% if page.url == "/portfolio.html" %}

          <a href="{{ project.url }}" class="text-dark" target="_blank">

            {{ project.name }}

          </a>

        {% else %}

          {{ project.name }}

        {% endif %}

      </h3>
      
      <span class="my-3 d-block text-muted text-left font-weight-bold">Type: <a href="/offres/{{ project.type.url }}" class="text-dark">{{ project.type.name }}</a></span>

      {% if page.url == "/portfolio.html" %}
        <em class="d-block mb-3 text-justify">{{ project.description }}</em>

        {% for expertise in project.expertises %}

          <span class="font-weight-bold text-primary">

            {{expertise}}

          </span>

          {% if forloop.last == false %}
           - 
          {% endif %}

        {% endfor %} 

        <div class="d-block text-center mt-5">
          <a href="{{project.url}}" class="shadow btn btn-primary p-3" target="_blank">Découvrir <i class="fas fa-arrow-right ml-2"></i></a>

          <span class="d-block mt-3 text-muted">Vous souhaitez réaliser un projet comme celui-ci ? <a href="{{site.devis_link}}" rel="nofollow" target="_blank">Demander un devis maintenant</a>.</span>

        </div>

      {% endif %}

    </span>

  </div> 

</div>  