
<h3 class="mb-4 font-primary">Me contacter</h3>

<p class="text-muted">Je <a href="{{ site.data.authors.nicolas.twitter }}"  rel="nofollow" target="_blank">tweete</a> souvent, j’ai un <a href="https://blog.nicolasjouanno.com">blog</a>, je fais de la photo et de la vidéo en amateur, je publie un peu de code et des outils que j’espère utiles.</p>

<ul class="list-unstyled">
     
    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="{{ site.data.authors.nicolas.blog }}"><i class="fas fa-tablet-alt"></i> Blog</a></li>
     
    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="{{ site.data.authors.nicolas.facebook }}" rel="nofollow" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a></li>

    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="{{ site.data.authors.nicolas.linkedin }}" rel="nofollow" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="https://www.instagram.com/{{ site.data.authors.nicolas.instagram }}" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i> Instagram : {{ site.data.authors.nicolas.handle }}</a></li>

    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="{{ site.data.authors.nicolas.twitter }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i> Twitter : {{ site.data.authors.nicolas.handle }}</a></li>

    <span class="border border-muted border-top-0 border-left-0 border-right-0 d-block"></span>

    <li class="mt-3 pb-3"><a href="{{ site.data.authors.nicolas.github }}" rel="nofollow" target="_blank"><i class="fab fa-github"></i> Github : @jn-prod</a></li>

</ul>

<span class="btn btn-primary d-block mt-4 contact font-weight-bold">Contactez-moi par email</span>