:root {
    --icon-size: var(--font-size, 1rem); 
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--icon-color, currentColor);
}

.icon.icon--x2 {
    width: calc(var(--icon-size) * 2);
    height: calc(var(--icon-size) * 2);
}


.icon.icon--x3 {
    width: calc(var(--icon-size) * 3);
    height: calc(var(--icon-size) * 3);
}