---
redirect_from:
  - "/portfolio/project/volt.html"
  - "/toolbox.html"
  - "/coaching.html"
  - "/cours.html"
  - "/cours/creer-site-web-sans-coder.html"
  - "/stories"
  - "/academy.html"
  - "/advertise/terms.html"
  - "/advertise.html"
title: "Développeur front-end et sportif ourdoor"
layout: default
description: "Développeur front-end et sportif ourdoor. Amateur de nature, de photographie et de vie simple en famille."
---

<!-- signature -->
<aside itemscope itemtype="http://schema.org/Quotation" class="c-jumbotron">
  <article class="c-jumbotron__content">
    <blockquote class="c-jumbotron__citation-container" itemprop="text">
      <p class="c-jumbotron__citation">
        "Pourquoi rejoindre la marine quand vous pouvez être un pirate ?"
      </p>
    </blockquote>
    <p
      itemscope
      itemtype="http://schema.org/Organization"
      class="c-jumbotron__author"
    >
      <em itemprop="name">—Steve Jobs</em>
    </p>
  </article>
</aside>

<section class="c-section c-section--compact">
  <p>
    <a href="{{ site.url }}/work.html">Développeur Frontend</a> @MGDIS et
    ancien <a href="{{ site.url }}/results.html">cycliste professionnel</a>,
    passionné de sports outdoor. Amateur de voyages en van, de photographie et
    de minimalisme, je partage une vie simple tournée vers la nature et la
    famille. Basé à Pontivy, Bretagne.
  </p>
</section>

<!-- Latest Stories
================================================== -->

<section class="c-section">
  <h1>Posts</h1>

  <ul class="c-section__post-list">
    {% for post in site.posts %}
    <li class="c-section__post-item">{% include /boxes/post.html %}</li>
    {% endfor %}
  </ul>
</section>
