@use 'heading';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--size-16);
}
