:root {
  /* Fonts */
  --font-size: 1.6rem;
  --line-height: calc(var(--font-size) * 1.4);
  --font-family: 'Lato', sans-serif;
  --font-family-heading: 'Abril Fatface', sans-serif;

  /* colors */
  --color-primary: #09645f;
  --color-secondary: #71323e;
  --color-dark: #343a40;
  --color-light: #fff;
  --color-dark-light: hsl(0deg 0% 0% / 44%);
  --color-primary-with: var(--color-light);
  --color-secondary-with: var(--color-light);
  --color-dark-with: var(--color-light);
  --color-light-with: var(--color-dark);

  /* size */
  --size-4: 4px;
  --size-8: 8px;
  --size-16: 16px;
  --size-32: 32px;
  --size-64: 64px;
  --size-128: 128px;

  /* decoration */
  --box-shadow: 0.5rem 0.3rem 1rem 0.3rem #343a4040;
  --border: solid var(--color-dark-light) 1px;

  /* icons */
  --icon-size: var(--font-size, var(--size-16));

  /* section */
  --section-spacing-x: var(--size-128);
  --section-spacing-y: var(--size-16);
  --section-spacing: var(--section-spacing-y) var(--section-spacing-x);

  /* responsive */
  @media screen and (width <= 900px) {
    --section-spacing-x: var(--size-16);
  }
}
