:root {
  /* Breakpoints */
  --breakpoint-m: 90rem;

  /* Fonts */
  --font-size: 1.6rem;
  --font-size-h1: calc(var(--font-size) * 1.6);
  --font-size-h2: calc(var(--font-size) * 1.5);
  --font-size-h3: calc(var(--font-size) * 1.4);
  --font-size-h4: calc(var(--font-size) * 1.3);
  --font-size-h5: calc(var(--font-size) * 1.2);
  --font-size-h6: calc(var(--font-size) * 1.1);
  --line-height: 1.4;
  --font-family: 'Lato', sans-serif;
  --font-family-heading: 'Abril Fatface', sans-serif;
  --font-family-reading: 'Source Serif 4', georgia, cambria, "Times New Roman", times, serif;

  /* colors */
  --color-primary: #09645f;
  --color-secondary: #71323e;
  --color-dark: #343a40;
  --color-light: #fff;
  --color-primary-with: var(--color-light);
  --color-secondary-with: var(--color-light);
  --color-dark-with: var(--color-light);
  --color-light-with: var(--color-dark);

  /* size */
  --size-1: 1px;
  --size-4: 4px;
  --size-8: 8px;
  --size-16: 16px;
  --size-32: 32px;
  --size-64: 64px;
  --size-128: 128px;

  /* decoration */
  --box-shadow: 0.5rem 0.3rem 1rem 0.3rem var(--color-dark);
  --border: solid color-mix(in srgb,var(--color-dark), white 80%) var(--size-1);

  /* icons */
  --icon-size: var(--font-size, var(--size-16));

  /* section */
  --section-spacing-x: var(--size-128);
  --section-spacing-y: var(--size-16);
  --section-spacing: var(--section-spacing-y) var(--section-spacing-x);

  /* responsive */
  @media screen and (width <= var(--breakpoint-m)) {
    --section-spacing-x: var(--size-16);
  }
}
