---
redirect_from: 
  - "/edito.html"
  - "/studio.html"
  - "/devis.html"
layout: landing
title: Découvrir mon histoire et mes projets
summary: "Développeur Full-Stack JS et créateur d'interfaces qui plaisent a vos utilisateurs."
permalink: "/about.html"
bg: bg-profile
h1: Front-end < JS > Back-end avec Nicolas Jouanno
h2: Je donne vie à vos idées. J'aime garder les choses simples et procurer une expérience propre et fonctionnelle à vos utilisateurs.
cta: Travaillons ensemble →
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---
<section class="container my-5">
  <!-- Presentation
  ================================================== -->
  <article class="row">
    <article class="col-md-3 p-5 text-center">
      <img src="{{ site.data.authors.nicolas.avatar }}" alt="{{ site.data.authors.nicolas.display_name }}, {{ site.data.authors.nicolas.current_job }}"  class="img-fluid">
      <h2 class="my-2 h3">{{ site.data.authors.nicolas.display_name }}</h2>
      <h3 class=" my-2 h5 font-secondary">{{ site.data.authors.nicolas.current_job }}</h3>
      <div class="my-2 text-muted">{{ site.data.authors.nicolas.age }}, {{ site.data.authors.nicolas.location }}</div>
      <ul class="mb-5 list-unstyled my-auto">
        <li class="mr-2 d-inline">
          <a class="text-muted" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
        </li>
        <li class="mr-2 d-inline">
          <a class="text-muted" href="{{ site.data.authors.nicolas.github }}" target="_blank" rel="me"><i class="fa-2x fab fa-github"></i></a>
        </li>
      </ul>
      <ul class="text-center list-unstyled">
        {% for technologie in site.data.technologies limit:10  %}
  
          {% if technologie.profile == true %}
  
            <li class="my-3 mx-2 tech-icon">
  
              {% if technologie.fontawesome %}
  
                <i class="{{technologie.fontawesome}} fa-3x text-primary"></i>
  
              {% else if technologie.icon %}
  
                <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">
  
              {% endif %}
  
            </li>
  
          {% endif %}
  
        {% endfor %}
  
      </ul>
    </article>
    <article class="col-md-9">
      <div class="p-md-5 row bg-light rounded shadow">
        <div class="col-12 py-sm-3 p-md-5">
          <p>
            Je suis <a href="/">développeur Full-Stack JS</a>, je donne vie à des <a href="/offres/site-applicatif.html">sites web applicatif et applications mobile</a> depuis Pontivy, Bretagne. Je suis aussi l'homme derrière <a href="https://vtt.bzh">vtt.bzh</a>, une application web pour trouver une nouvelle randonnée chaque week-end en Bretagne. 
          </p>
          <p>
            Ma trajectoire professionnel s'inscrit dans le domaine sportif. Après une carrière de <a href="/results.html">cycliste professionnel</a>, je deviens Responsable Communication et Webmaster chez Twinner Sport. J'ai créé et dévelopé mon entreprise de vente d'article de sport outdoor cross-canal. Puis je suis devenu <a href="/chef-projet-digital.html">Chef de Projet Digital Full Stack</a> pour un groupement, dans lequel j'ai développé une plate-forme d'inscription en ligne <a href="/portfolio/project/event-izir.html"></a>event.izir.fr</a> et un portail intranet pour piloter la stratégie commerciale du groupe.
          </p>
          <p>Maintenant, je suis développeur full-stack JS (NodeJS, MongoDB, AngularJS & VueJS) chez MGDIS. Une entreprise Bretonne qui aide les collectivités à gérer les aides publiques. Passioné par les interfaces réussitent, j'aime échanger sur cette thématique avec les autres memblre de la guilde UX/UI de l'entreprise. Curieux, je continue de me former et de m'informer sur les nouvelles technologies, frameworks et relève le defis des <a href="{{ site.url }}/certifications.html" class="border-bottom border-primary">certifications</a>.</p>
          <p>
            Je partage ma veille et parle de sport, mobilité, productivité, minimalsime et d'environnement sous le pseudo <a href="{{ site.data.authors.nicolas.twitter }}">{{ site.data.authors.nicolas.handle }}</a> sur Twitter.
          </p>
          <p>
            J'aime pratiquer les best practices des plus grandes entreprises tech, comme Lean Startup, le Design Thinking, la méthode Agile & le Lean UX.
          </p>
          <p>
            J'interviens sur tout le cycle de vie d'un produit numérique : de la création de POC (Proof Of Concept) à <a href="/expertises/developpeur-back-end.html">l'automatisation de taches</a> pour des besoins de Growth Marketing, en passant par l'incrémentation de nouvelles features à un produit ou MVP (Minimum Viable Product).
          </p>
          <p>
            Je développe avec vous une web app scalable qui tient compte de vos objectifs de rétention, des contraintes métier et de vos utilisateurs.
          </p>
          <p>
            Commençons par <a href="{{ site.data.authors.nicolas.linkedin }}" class="border-bottom border-primary">en parler</a> ensemble. Enfin, je partage mes connaissances techniques, stratégiques et opérationnelles sur <a href="{{ site.url }}/stories.html" class="border-bottom border-primary">le blog</a>.
          </p>
        </div>
      </div>
    </article>
  </article>

  <!-- Hobbies
  ================================================== -->
  <article class="mb-5 text-center">

    <h3 class="mt-5 py-5">Les domaines qui me passionnent.</h3>

    <ul class="d-md-flex justify-content-between text-center list-unstyled">

      {% for hobby in site.data.hobbies %}

        <li class="font-weight-bold p-3">

          <span class="d-block mb-5">{{ hobby.name }}</span>

          <img src="{{ site.url }}/{{ hobby.img }}" alt="{{ hobby.name }}" class="img-fluid">

        </li>       

      {% endfor %}

    </ul>

  </article>

  <!-- projet -->
  <article class="py-5" id="skills">
    
    <div class="mt-5 text-center">
      <h3 class="mb-5">Vous accompagner à chaque étape de votre application web.</h3>
      <p>Vous développez une <a href="/offres/site-applicatif.html">application mobile</a> ou un <a href="/offres/site-vitrine.html">site internet</a> pour votre startup ? Vous avez besoin d'un professionnel pour développer votre produit ? Vous souhaitez créer votre MVP pour séduire de nouveaux utilisateurs et/ou investisseurs ? Découvrez comment je peux vous aider dans vos projets:</p>
    </div>

    <div class="row mb-5 mt-5 text-center">

      {% for skills in site.data.product-skills %}
        
        {% include /boxes/skills.html %}

      {% endfor %}

    </div>    
  </article>

  <!-- Expertises -->
  <article class="py-5 bg-light shadow text-center" id="expertises">
    <h2 class="mb-4">Les méthodologies que j'affectionne.</h2>

    <div class="row">

      {% for methode in site.data.methodologies %}

        <article class="col-md-3">

          <h3 class="my-3 font-secondary h3">{{ methode.name }}</h3>

          <p class="text-muted px-2">{{ methode.excerpt }}</p>

        </article>

      {% endfor %}

    </div>

  </article>

  <!-- Projets
  ================================================== -->
  <section>
    <h3 class="mt-5 py-5 text-center">Les derniers projets.</h3>
    <div>
      {% for project in site.data.projects %}
  
        {% if project.profile == true %}

          <article class="col-md-6 text-center p-2">

            <div class="d-block bg-light shadow border-muted rounded">
              
              {% include /boxes/project.html %}
            
            </div>
          
          </article>

        {% endif %}
        
      {% endfor %}  

    </div>
  
    <div class="mt-5 text-center">
      <a href="{{ site.url }}/portfolio.html" class="btn btn-outline-primary font-weight-bold">Découvrir plus de projets <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </section>

  <!-- Contact
  ================================================== -->
  <article class="text-center my-5">
    <h3 class="my-5" id="contact">Me contacter.</h3>
    <p>Vous pouvez me contacter <span class="text-primary contact">directement par mail</span> ou sur <a href="{{ site.data.authors.nicolas.twitter }}">Twitter</a>.</p>        
  </article>

</section>


