---
redirect_to: "https://www.linkedin.com/in/nicolasjouanno/"
layout: default
title: Mon cv
seo_description: "Developpeur MongoDB / ExpressJS / NodeJS, j’ai 31 ans dont 8 ans d’expérience dans la gestion de projet digital."
permalink: "/cv.html"
bg: bg-profile
h1: Nicolas Jouanno
h2: Developpeur Web
---

<div class="row py-5 bg-header">

  <div class="col-md-3 mt-3">

    <img src="{{ site.data.authors.nicolas.avatar }}" alt="{{ site.data.authors.nicolas.display_name }}, {{ site.data.authors.nicolas.current_job }}" class="img-fluid">

  </div>

  <div class="col-md-9 mt-5 pt-5 px-5">

    <div class="d-bloc bg-white-light shadow p-5">

      <h1 class="font-secondary d-inline">{{ page.h1 }}</h1> <h2 class="d-inline ml-3">{{ page.h2 }}</h2>

      <div class="d-block">
        {{ site.data.authors.nicolas.location }} | {{ site.data.authors.nicolas.email }} | {{ site.data.authors.nicolas.fone }} <br>
        {{ site.data.authors.nicolas.handle }} | {{ site.url }} | github: {{ site.data.authors.nicolas.github }}.    
      </div>

    </div>

  </div> 

</div>

<div class="container pt-5">

  <h3 class="mt-5 mb-3">Expertises et Compétences</h3>

  <div class="row">
    <div class="col-md-6">
      {% for skill in site.data.cv.skills.developpment %}
        <div class="d-block">
          {{ skill.title }} : <strong>{{ skill.content }}</strong>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      {% for skill in site.data.cv.skills.other %}
        <div class="d-block">
          {{ skill.title }} : {{ skill.content }}
        </div>
      {% endfor %}
      <div class="mt-2 text-primary">
        +20 certifications en développement web dont : Intégrateur Web, la strucuture MVC, la POO et pour chaque langage de programation précités.
      </div>
      
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-12">
      <h3 class="mt-5 mb-3 d-inline">Expériences</h3>
      <p class="d-inline ml-3"><a href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" class="text-muted">Voir le détail sur linkedin →</a></p>      
    </div>
  </div>

  <div class="row my-3">

    <div class="col-md-6">
      <h4 class="text-muted font-weight-bold my-2 font-secondary">SITE APPLICATIF</h4>

      {% for experience in site.data.cv.experiences %}

        {% if experience.format == "SITE APPLICATIF" %}

          <div class="d-block my-3">

            {% if experience.side_project %}

              <span class="d-block text-muted">@projet_personnel </span>

            {% endif %}

            {{ experience.entreprise }} | {{ experience.date }} : {{ experience.description }}

            <span class="text-primary d-block">{{ experience.skills }}</span>
            
          </div>

        {% endif %}

      {% endfor %}

    </div>
    <div class="col-md-6">
      <h4 class="text-muted font-weight-bold my-2 font-secondary">SITE E-COMMERCE</h4>
      {% for experience in site.data.cv.experiences %}

        {% if experience.format == "SITE E-COMMERCE" %}

          <div class="d-block my-3">

            {% if experience.side_project %}

              <span class="d-block text-muted">@projet_personnel </span>

            {% endif %}

            {{ experience.entreprise }} | {{ experience.date }} : {{ experience.description }}

            <span class="text-primary d-block">{{ experience.skills }}</span>
            
          </div>

        {% endif %}

      {% endfor %}
      <h4 class="text-muted font-weight-bold my-2 font-secondary">SITE VITRINE</h4>
      {% for experience in site.data.cv.experiences %}

        {% if experience.format == "SITE VITRINE" %}

          <div class="d-block my-3">

            {% if experience.side_project %}

              <span class="d-block text-muted">@projet_personnel </span>

            {% endif %}

            {{ experience.entreprise }} | {{ experience.date }} : {{ experience.description }}

            <span class="text-primary d-block">{{ experience.skills }}</span>
            
          </div>

        {% endif %}

      {% endfor %}
      <h4 class="text-muted font-weight-bold my-2 font-secondary">SCRIPTS</h4>
      {% for experience in site.data.cv.experiences %}

        {% if experience.format == "SCRIPTS" %}

          <div class="d-block my-3">

            {% if experience.side_project %}

              <span class="d-block text-muted">@projet_personnel </span>

            {% endif %}

            {{ experience.entreprise }} | {{ experience.date }} : {{ experience.description }}

            <span class="text-primary d-block">{{ experience.skills }}</span>
            
          </div>

        {% endif %}

      {% endfor %}
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="mt-5 mb-3 d-inline">Mes certifications</h3>
      <p class="d-inline ml-3"><a href="{{ site.url }}/certifications.html" class="text-muted">Voir mes {{ site.data.certifications.size }} certifications →</a></p>
    </div>
  </div>

  <div class="row ">

    {% for certification in site.data.certifications %}

      {% if certification.featured == true %}
        <div class="col-md-4">

          <span class="my-3 font-secondary font-weight-bold d-block mb-2">{{ certification.title }}</span>

          <span class="text-muted">{{ certification.category }}</span>

        </div>
      {% endif %}
    {% endfor %}

  </div>

  <div class="row">

    <div class="col-md-6">
      
      <h3 class="mt-5 mb-3">Etudes</h3>

      <div class="row">

        <div class="col-12">

          {% for study in site.data.cv.studies %}

            <span class="d-block">{{ study.year }} | {{ study.graduation }}</span>

          {% endfor %}
          
        </div>

      </div>

    </div>

    <div class="col-md-6">

      <h3 class="mt-5 mb-3">Centres d’intéret</h3>

      <div class="row">

        <div class="col-12">

          {% for hobby in site.data.cv.hobbies %}

            <div>{{hobby}}</div>

          {% endfor %}

        </div>

      </div>  

    </div>

  </div>

</div>
