---
layout: activities
title: "Découvrez le portfolio des projets réalisés"
summary: "Portfolio de Nicolas Jouanno, chef de projet web, webmarketing & webdesign freelance à Pontivy, Loudéac. Découvrez quelques projets réalisés en tant que product manager ou chef de projet marketing en entreprise ou en freelance durant ces dernières années."
permalink: "/portfolio.html"
---        
<div class="main-content">
  <div class="container-fluid ">

    <!-- content -->
    <section>

      <article>

        <h2 class="my-5">Les projets récents</h2>

        {% for project in site.data.projects %}
        
          {% include /boxes/project.html %}
          
        {% endfor %}          
  
      </article>

    </section>

  </div>

</div>

