---
layout: landing
title: "Découvrez le portfolio des projets réalisés"
summary: "Portfolio de Nicolas Jouanno, chef de projet web, webmarketing & webdesign freelance à Pontivy, Bretagne. Découvrez quelques projets réalisés en tant que product manager ou chef de projet marketing en entreprise ou en freelance durant ces dernières années."
permalink: "/portfolio.html"
bg: bg-profile
h1: Product Developper Fullstack
h2: Je maitrise les problématiques marketing, design et tech. J'aime garder les choses simples et procurer une expérience propre et fonctionnel à vos clients.
cta: Travaillons ensemble →
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---        
<div class="main-content">
  <div class="container">

    <!-- content -->
    <section>

      {% for project in site.data.projects %}

        <article id="{{ project.name }}">
          
            {% include /boxes/project.html %}
    
        </article>
      
      {% endfor %}          

    </section>

  </div>

</div>

{% include /cta/footer.html %}