---
layout: landing
title: Le studio
summary: "Développeur back-end freelance remote, à 31 ans dont 8 ans d’expérience dans la création de site internet."
permalink: "/studio.html"
bg: inspiration-1
h1: Développez votre projet digital et améliorez votre présence en ligne.
h2: Je développe votre application web avec la maitrise des problématiques marketing, design et tech. J'aime garder les choses simples et procurer une expérience propre et fonctionnel à vos clients.
cta: Travaillons ensemble →
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---

<!-- presentation -->
<div class="row bg-light py-5 text-center shadow">
  <div class="col-12 my-5">
    <div class="row text-center">
      <div class="col-md-8 mx-auto">
        <h2 class="mb-5">Le studio</h2>
        <big class="d-block mb-5">

          <p>Moi c'est <a href="{{ site.url }}/about.html" class="border-bottom border-primary">Nicolas</a>, à 31 ans, je suis à la recherche de nouveaux challenges. Je me nourris des dernières tendances marketing, design et technologique de l'écosystème numérique pour offrir à votre projet des services digitaux innovant et une expérience utilisateurs de qualité. Je suis spécialisé et <a href="{{ site.url }}/certifications.html" class="border-bottom border-primary">certifié</a> dans la création de site applicatif.</p>

          <p>J'utilise les meilleures méthodes et outils du marché : Lean Startup, Design Thinking, Agile & Lean UX. J'interviens sur tout le cycle de vie d'un projet : de la stratégie Marketing, au design et la production des outils (UX/UI, développement & Product Ownership) jusqu'à la recherche de leviers de croissance (Growth Marketing).</p>
          <p>Je développe avec vous votre identitée digitale (site web, site applicatif, application mobile, médias sociaux, ...), demandez votre <a href="{{ site.devis_link }}" class="border-bottom border-primary">devis</a> maintenant. Je vous accompagne et vous conseil mensuellement dans votre projet numérique, c'est <a href="{{ site.url }}/coaching.html" class="border-bottom border-primary">OnDemand</a>. Et je partage mes connaissances techniques, stratégiques et opérationnelles dans l'<a href="{{ site.url }}/academy.html" class="border-bottom border-primary">Academy</a>.</p>
        </big>    
      </div>
    </div>    
  </div>
</div>

<!-- projet -->
<div class="text-center d-block py-5" id="skills">
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="mb-5">Votre projet</h2>
        <p>Vous développez une <a href="/offres/site-applicatif.html">application mobile</a> ou un <a href="/offres/site-vitrine.html">site internet</a> pour votre entreprise ? Vous avez besoin d'un professionnel pour améliorer votre présence en ligne ? Vous souhaitez activer des leviers de croissance pour séduire de nouveaux utilisateurs et/ou investisseurs ? Découvrez comment je peux vous aider dans vos projets:</p>
      </div>
    </div>

  </div>

  <div class="row mb-5 mt-5">

    {% for skills in site.data.product-skills %}
      
      {% include /boxes/skills.html %}

    {% endfor %}

  </div>    
</div>

<!-- Expertises -->
<div class="row bg-light py-5 text-center shadow">
  <div class="col-12 py-5">
    <div class="container text-center" id="expertises">
      <div class="row ">
        <div class="col-12">
          <h2 class="mb-5">Mon Expertise</h2>
        </div>
      </div>

      {% for expertise in site.data.expertises %}

        {% if expertise.url == "/chef-projet-digital.html" %}

          <div class="row shadow rounded border border-muted my-5 p-5 bg-white">        

            <div class="col-md-4 my-auto">

              <h3 class="h4"><a href="{{expertise.url}}" class="font-primary m-2">{{ expertise.name }}</a></h3>

            </div>

            <div class="col-md-8 my-auto">

              <span class="text-muted">

                {{ expertise.summary }}

                <span class="font-weight-bold d-block mt-3">
                  
                  <a href="{{ site.url }}{{ expertise.url }}" class="btn btn-outline-primary ml-2 font-weight-bold">
                    {{ expertise.cta }}<i class="fas fa-arrow-right ml-2"></i>
                  </a>

                </span>

              </span>

            </div>

          </div>

        {% endif %}

      {% endfor %}

      <div class="row ">
        <div class="col-12">
          <h2 class="my-5">Mes Méthodologies</h2>
        </div>
      </div>
      <div class="row ">

        {% for methode in site.data.methodologies %}

          <div class="col-md-3">

            <h3 class="my-3 font-secondary h3">{{ methode.name }}</h3>

            <span class="text-muted">{{ methode.excerpt }}</span>

          </div>

        {% endfor %}

      </div>

      <div class="row ">
        <div class="col-12">
          <h2 class="my-5">Mes Certifications</h2>
        </div>
      </div>
      <div class="row ">

        {% for certification in site.data.certifications %}

          {% if certification.featured == true %}
            <div class="col-md-4">

              <span class="my-3 font-secondary font-weight-bold d-block mb-2">{{ certification.title }}</span>

              <span class="text-muted">{{ certification.category }}</span>

            </div>
          {% endif %}
        {% endfor %}

      </div>

      <div class="row">
        <div class="col-12">
          <a href="{{ site.url }}/certifications.html" class="btn btn-outline-primary my-5 font-weight-bold">
            Voir mes {{ site.data.certifications.size }} certifications<i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div>
      </div>

    </div>   
  </div>
</div>

<!-- Technologies -->
<div class="container my-5 py-5 text-center" id="technologies">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Les Technologies</h2>
    </div>
  </div>
  <div class="row text-center">

    {% for technologie in site.data.technologies %}

      <div class="col-md-3 col-sm-6 mx-auto">
        <div class="d-inline-block p-3 tech-icon">

          {% if technologie.fontawesome %}

            <i class="{{technologie.fontawesome}} fa-3x text-primary"></i>

          {% else if technologie.icon %}

            <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">

          {% endif %}

          <h4 class="text-muted d-block text-center font-secondary h6 font-weight-bold mt-2 icon-title">{{technologie.name}}</h4>
          <small class="text-muted">{{technologie.description}}</small>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

<!-- toolbox -->
<div class="container my-5 text-center" id="toolbox">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">La toolbox</h2>
    </div>
  </div>
  <div class="row text-center">

    {% for tools in site.data.toolbox %}

      {% for tool in tools.tools %}

        {% if tool.feature == true %}

          {% include /boxes/tool.html %}

        {% endif %}

      {% endfor %}

    {% endfor %}

  </div>

  <div class="row mt-5">
    <div class="col-12">
      <a href="{{ site.url }}/toolbox.html" class="btn btn-primary shadow">Découvrir plus d'outils <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>
</div>

<!-- projects -->
<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-5 pt-5 pb-2">Les derniers projets</h3>
    </div>
      {% for project in site.data.projects %}

        {% if project.profile == true %}

          <div class="col-md-6 text-center p-2">

            <div class="d-block bg-light shadow border-muted rounded">
              
              {% include /boxes/project.html %}
            
            </div>
          
          </div>

        {% endif %}
        
      {% endfor %}  
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/portfolio.html" class="btn btn-primary shadow">Découvrir plus de projets <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>
</div>

{% include /cta/footer.html %}
