---
layout: landing
title: Le studio
summary: "Product Manager freelance remote, j’ai 31 ans dont 8 ans d’expérience dans la gestion de projet digital."
permalink: "/studio.html"
bg: inspiration-1
h1: Développez votre produit digital et améliorez votre expérience client.
h2: Mon savoir-faire marketing, design et tech permet à votre entreprise de créer un produit en ligne impactant pour vos utilisateurs.
cta: Demander un devis
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---

<!-- presentation -->
<div class="row bg-light py-5 text-center shadow">
  <div class="col-12 my-5">
    <div class="row text-center">
      <div class="col-md-8 mx-auto">
        <h2 class="mb-5">Le studio</h2>
        <big class="d-block mb-5">
          <p>Moi c'est Nicolas, 31 ans et à la recherche de challenges. Je me nourris des dernières tendances marketing, design et technologique numérique pour offrir à votre entreprise des services digitals innovants et une expérience de la qualité à vos utilisateurs. Je suis spécialisé dans le product management de sites applicatifs et d'applications mobiles.</p>
          <p>J'utilise les les meilleures méthodes et outils du marché : Lean Startup, Design Thinking, Agile & Lean UX. J'interviens sur tout le cycle de vie d'un Produit : de la stratégie Produit, au design et la production du Produit (UX/UI & Product Ownership) jusqu'à la recherche de leviers de croissance (Growth Marketing).</p> 
        </big>    
      </div>
    </div>    
  </div>
</div>

<!-- projet -->
<div class="text-center d-block py-5" id="skills">
  
  <div class="container">
    
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="mb-5">Votre projet</h2>
        <p>Vous développez une application mobile ou un site internet pour votre startup et êtes à la recherche d'un product manager? Vous avez besoin d'un professionnel pour améliorer l'expérience de vos utilisateurs ? Vous voulez activer des leviers de growth pour votre business en ligne ? Découvrez comment je peux vous aider dans vos projets:</p>
      </div>
    </div>

  </div>

  <div class="row mb-5 mt-5">

    {% for skills in site.data.product-skills %}
      
      {% include /boxes/skills.html %}

    {% endfor %}

  </div>    
</div>

<!-- Expertises -->
<div class="row bg-light py-5 text-center shadow">
  <div class="col-12 py-5">
    <div class="container text-center" id="expertises">
      <div class="row ">
        <div class="col-12">
          <h2 class="mb-5">Mon Expertise</h2>
        </div>
      </div>

      {% for expertise in site.data.expertises %}

        {% if expertise.url == "/product-manager.html" %}

          <div class="row shadow rounded border border-muted my-5 p-5 bg-white">        

            <div class="col-md-4 my-auto">

              <h3 class="h4"><a href="{{expertise.url}}" class="font-primary m-2">{{ expertise.name }}</a></h3>

            </div>

            <div class="col-md-8 my-auto">

              <span class="text-muted">

                {{ expertise.summary }}

                <span class="font-weight-bold d-block mt-3">
                  
                  <a href="{{ site.url }}{{ expertise.url }}" class="border border-top-0 border-right-0 border-left-0 border-primary ml-2 border-bottom-bold ">{{ expertise.cta }}<i class="fas fa-arrow-right ml-2"></i></span>
                  </a>

              </span>

            </div>

          </div>

        {% endif %}

      {% endfor %}

      <div class="row ">
        <div class="col-12">
          <h2 class="my-5">Mes Méthodologies</h2>
        </div>
      </div>
      <div class="row ">

        {% for methode in site.data.methodologies %}

          <div class="col-md-3">

            <h3 class="my-3 font-secondary h3">{{ methode.name }}</h3>

            <span class="text-muted">{{ methode.excerpt }}</span>

          </div>

        {% endfor %}

      </div>
    </div>   
  </div>
</div>

<!-- Technologies -->
<div class="container my-5 py-5 text-center" id="technologies">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Les Technologies</h2>
    </div>
  </div>
  <div class="row text-center">

    {% for technologie in site.data.technologies %}

      <div class="col-md-3 col-sm-6 mx-auto">
        <div class="d-inline-block m-3 tech-icon">

          {% if technologie.fontawesome %}

            <i class="{{technologie.fontawesome}} fa-3x text-primary"></i>

          {% else if technologie.icon %}

            <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">

          {% endif %}

          <h4 class="text-muted d-block text-center font-secondary h6 font-weight-bold mt-2 icon-title">{{technologie.name}}</h4>
          <small class="text-muted">{{technologie.description}}</small>
        </div>
      </div>

    {% endfor %}

  </div>
</div>

<!-- toolbox -->
<div class="container my-5 text-center" id="technologies">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">La toolbox</h2>
    </div>
  </div>
  <div class="row text-center">

    {% for tools in site.data.toolbox %}

      {% for tool in tools.tools %}

        {% if tool.feature == true %}

          {% include /boxes/tool.html %}

        {% endif %}

      {% endfor %}


    {% endfor %}

  </div>

  <div class="row mt-5">
    <div class="col-12">
      <a href="{{ site.url }}/toolbox.html" class="btn btn-primary shadow">Découvrir plus d'outils <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>
</div>

{% include /cta/footer.html %}
