{% if page.footer_cta %}
  <div class="container p-5 mb-5 shadow bg-light">
    <div class="row text-center">
      <div class="col-12">
        <h3 class="d-block mb-3 h2">Envie d'en savoir plus ?</h3>
        <span class="text-muted">{{ page.footer_cta }}</span>
        {% if include.cta-link && include.cta-text %}
          <a href="{{ include.cta-link }}" class="shadow btn btn-primary mb-3 p-3 font-weight-bold my-auto m-sm-3 rounded-pill">{{ include.cta-text }}<i class="fas fa-arrow-right ml-2"></i></a>  
        {% else %}
          <a href="{{ site.devis_link }}" class="shadow btn btn-primary mb-3 p-3 font-weight-bold my-auto m-sm-3 rounded-pill">Demander un devis<i class="fas fa-arrow-right ml-2"></i></a>   
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}