
{% for category in site.data.categories %}  

    {% if category.home == true %}

        <div class="col-md-6 col-lg-3 text-center">

            <a href="/categories/{{ category.link | downcase }}" class="text-center font-weight-bold bg-index {{category.bg-class}} my-2 border-bottom border-primary shadow" style="border-width: 5px !important;">
                
                <span class="my-auto d-block"> #{{ category.name }} </span>
            
            </a>

        </div>

    {% endif %}

{% endfor %}
