<div class="col-md-4">

  <div class="d-flex flex-column w-100 h-100">

    <div class="d-flex flex-column mx-auto w-100">

      <h3 class="shadow bg-light border border-muted pt-3 pb-3">

        {% if page.url == "/" %}

          {{ offre.name }}

        {% else %}

          <a href="{{ offre.url }}" class="text-dark d-block">{{ offre.name }}</a>

        {% endif %}

        
      </h3>

      <img src="{{ offre.img }}" alt="{{ offre.name }}" class="img-fluid mx-auto" style="max-width: 300px; max-height: 200px;">
             
      {% for feature in offre.features %}
             
        <div class="d-block text-muted text-center">{{ feature.name }}</div>
             
      {% endfor %}       

    </div>
        
    <div class="d-flex flex-column align-items-end h-100">

      {% if page.url != "/" %}

        <div class="d-flex mt-auto mx-auto">

          <a href="{{ offre.url }}" class="shadow btn btn-primary my-3">Je m'intéresse à un {{ offre.name }}</a>

        </div>

      {% endif %}

    </div>

  </div>
   
</div>