<article itemscope itemtype="http://schema.org/Product">

	{% for image in equipement.images %}

		<a href="{{ equipement.affilate_url }}" target="_blank" rel="nofollow">

			{% if forloop.first == true %}

				<img src="{{ site.url }}/assets/public/images/shop/{{image}}" alt="{{ equipement.nom }}" class="img-fluid" itemprop="image">

			{% endif %}

		</a>

	{% endfor %}
	<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		<a itemprop="url" href="{{ equipement.affilate_url }} " class="d-block text-uppercase product-title" target="_blank" rel="nofollow">
			<h3 class="h6 m-0 mt-2" itemprop="name">{{ equipement.nom }}</h3>
		</a>
  	</div>

	<section itemprop="description">

		<h4 class="d-block h6 m-0 mt-2">{{ equipement.marque }}</h4>

		<div class="d-block">
			
			{% for sport in equipement.sports %}

				<small class="text-muted text-capitalize product-brand">

					{{sport}}

					{% if forloop.last != true %}
					, 
					{% endif %}

				</small>

			{% endfor %}	

		</div>

		<a href="{{ equipement.affilate_url }}" class="btn btn-outline-primary" rel="nofollow" target="_blank">Acheter</a>		
	</section>

	
</article>
