<div class="row {% if page.url == "/portfolio.html" %}pb-5 border-bottom mt-5{% endif %} ">

  <div class="col-md-5 my-auto text-center py-2">
    
    <img src="{{ project.images[0] }}" alt="{{ project.name }}" class="img-fluid">
    
  </div>  
  
  <div class="col-md-7 my-4 p-4 text-center mx-auto">

    <div class="row">

      <div class="col-md-6 my-auto text-sm-center text-md-left">

        <h3 class="mb-2">{{ project.name }}</h3>  

        <span class="text-muted">{{ project.mission }}, {{ project.year }}</span>  

      </div>

    </div>

    {% if page.url != "/portfolio.html" %}

      <a href="{{ project.url }}" class="font-weight-bold btn btn-outline-primary">

        détails du projet

      </a>

    {% else %}

      {% for expertise in project.expertises %}

        <span class="font-weight-bold btn btn-outline-primary mx-2">

          {{expertise}}

        </span>

      {% endfor %} 

    {% endif %}

  </div>
  
  {% if page.url == "/portfolio.html" %}
      
      {% if project.url %}

        <div class="d-block w-100 text-center mt-2">

          <a href="{{ project.url }}" class="shadow btn btn-primary p-3 rounded-pill">Découvrir <i class="fas fa-arrow-right ml-2"></i></a>

        </div>
  
      {% endif %}

   {% endif %}
  
</div>  
