<div class="col-md-6 col-lg-4 p-2 ">

  <div class="d-flex flex-column w-100 h-100 p-4 bg-light border border-muted shadow">

    <div class="d-flex flex-column">
      
      <h3 class="text-capitalize mb-2 d-block">{{ tool.name }}</h3>
      
      <img src="{{ tool.logo }}" alt="{{ tool.name }}" class="text-center my-3 d-block mx-auto" style="max-width: 150px; max-height: 150px;">

      <span class="d-block text-muted mt-2 d-block">{{ tool.short_description }}</span>

    </div>


    <div class="d-flex flex-column align-items-end h-100">
      <small class="d-flex text-muted mt-auto">{{ category.name }}</small>

      <span class="d-flex  mt-2 font-weight-bold">Freemium : 
        <span class="d-inline-block my-auto ml-2">
          {% if tool.freemium %} <i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</span>
        </span>

    </div>

  </div>

</div>