<img
  class="c-post-card__avatar"
  src="{{ author.avatar }}"
  alt=""
/>
<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
  <a href="{{ author.web }}" class="c-post-card__author-name">
    <span itemprop="name">{{ author.name }}</span>
  </a>
  <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}/{{ site.logo }}" />
    <meta itemprop="width" content="60" />
    <meta itemprop="height" content="60" />
  </span>
  <meta itemprop="url" content="{{ site.url }}" />
  <div class="c-post-card__meta">
    <span>{{ author.handle }}</span>
    ·
    <time itemprop="dateCreated datePublished dateModified" datetime="{{ include.post.date | date_to_xmlschema }}">
      {{ include.post.date | date: "%d %B %Y" }}
    </time>
  </div>
</div>

<div itemprop="author" itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="{{ author.name }}" />
  <meta itemprop="url" content="{{ author.web }}" />
</div>