{% assign author = site.author %}

<article
  id="{{post.slug}}"
  class="c-post-card"
  itemscope=""
  itemtype="http://schema.org/BlogPosting"
>
  <meta
    itemprop="datePublished"
    content="{{ post.date | date_to_xmlschema }}"
  />
  <meta itemprop="author" content="{{ site.author.name }}" />
  {% if post.images and post.images.size > 0 %}
  <meta itemprop="image" content="{{ post.images[0] | absolute_url }}" />
  {% endif %}
  <meta itemprop="headline" content="{{ post.title }}" />
  <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ post.url }}" />
  <header class="c-post-card__header">
    <div class="c-post-card__author">
      {% include /boxes/author.html author=author post=post %}

      <h2 class="c-post-card__header-title" id="{{post.slug}}-title">
        <a class="c-post-card__post-link" href="{{ post.url | absolute_url }}"
          >{{ post.title }}</a
        >
      </h2>
      <meta itemprop="url" content="{{ site.url}}{{post.url }}" />
    </div>
  </header>

  {% if post.images.size > 0 %}
  <img
    class="c-post-card__media"
    src="{{ post.images[0] | relative_url }}"
    alt=""
    loading="lazy"
  />
  {% endif %} {% assign content = post.content | strip_html %} {% assign excerpt
  = content | truncatewords: 70 %} {% if excerpt %}
  <p>{{excerpt}}</p>
  {% endif %}

  <footer class="c-post-card__footer">
    <ul class="u-list u-list--none u-list--inline">
      <li>
        <a
          class="c-button c-button--primary"
          href="{{ post.url | absolute_url }}"
          aria-describedby="{{post.slug}}-title"
         >
          Lire
        </a>
      </li>

      <li>
        <a
          class="c-button"
          aria-describedby="{{post.slug}}-title"
          href="mailto:?subject={{ post.title | url_encode }}&body={{ 'Je voulais te partager ce post :' | url_encode}}%0A%0A{{ site.url | append: post.url | url_encode}}%0A%0A{{excerpt | url_encode}}"
          >Partager
        </a>
      </li>

      {% for category in post.categories %}
      <li class="c-post-card__tag">#{{ category }}</li>
      {% endfor %}
    </ul>
  </footer>
</article>
