{% assign author = site.author %}

<article
  id="{{post.url}}"
  class="c-post-card"
  itemscope=""
  itemtype="http://schema.org/BlogPosting"
>
  <header class="c-post-card__header">
    <div class="c-post-card__author">
      {% include /boxes/author.html author=author post=post %}

      <h2 itemprop="headline" class="c-post-card__header-title">
        <a class="c-post-card__post-link" href="{{ post.url | absolute_url }}"
          >{{ post.title }}</a
        >
      </h2>
      <meta
        itemprop="url mainEntityOfPage"
        content="{{ site.url}}{{post.url }}"
      />
    </div>
  </header>

  {% if post.images.size > 0 %}
    <img class="c-post-card__media" src="{{ post.images[0] | relative_url }}" alt="{{ post.title }}" loading="lazy" />
  {% endif %}

  {% assign content = post.content | strip_html %}
  {% assign excerpt = content | truncatewords: 70 %}

  {% if excerpt %}
  <p>
    {{excerpt}}
  </p>
  {% endif %}

  <footer class="c-post-card__footer">
    <ul class="u-list u-list--none u-list--inline">
      {% if post.content != post.excerpt or post.images.size > 0 %}
      <li>
        <a class="c-button c-button--primary" href="{{ post.url | absolute_url }}">
          Voir plus
        </a>
      </li>
      {% endif %}
      <li>
        <a class="c-button" href="{{ post.url | absolute_url }}">
          Lire
        </a>
      </li>
      <li>
        <a
          class="c-button"
          href="mailto:?subject={{ post.title | url_encode }}&body={{ 'Je voulais te partager ce post :' | url_encode}}%0A%0A{{ site.url | append: post.url | url_encode}}%0A%0A{{post.excerpt | strip_html | truncatewords:30 | url_encode}}"
          >Partager
        </a>
      </li>
      
      {% for category in post.categories %}
      <li class="c-post-card__tag">#{{ category }}</li>
      {% endfor %}
    </ul>
  </footer>
</article>
