{% assign author = site.data.authors[post.author] %}

<article
  id="{{post.url}}"
  class="c-post-card"
  itemscope=""
  itemtype="http://schema.org/BlogPosting"
>
  <header class="c-post-card__header">
    <div class="c-post-card__author">
      {% include /boxes/author.html author=author post=post %}

      <h2 itemprop="headline" class="c-post-card__header-title">
        <a class="c-post-card__post-link" href="{{ post.url | absolute_url }}"
          >{{ post.title }}</a
        >
      </h2>
      <meta
        itemprop="url mainEntityOfPage"
        content="{{ site.data.config.url}}{{post.url }}"
      />
    </div>
  </header>
  <p class="c-post-card__content">
    {{ post.excerpt | strip_html | truncatewords:30 }}
  </p>
  <footer class="c-post-card__footer">
    <ul class="u-list u-list--none u-list--inline">
      {% for category in post.categories %}
      <li class="c-post-card__tag">#{{ category }}</li>
      {% endfor %}
    </ul>
    <ul class="u-list u-list--none u-list--inline">
      <li>
        <!-- Email -->
        <a href="mailto:?subject={{post.title}}&body=Je voulais te partager ce lien : {{post.url}}">
          Commenter
        </a>
      </li>
 
      <li>
        <!-- Copier lien -->
        <button onclick="navigator.clipboard.writeText('{{post.url}}'); alert('Lien copié 👍');">
          Copier
        </button>
      </li>

      <li>
        <!-- Web Share API -->
        <button onclick="sharePost({{post.title}}, {{post.url}})">Partager</button>
      </li>
    </ul>
  </footer>
</article>
<script>
  function sharePost(title, url) {
    if (navigator.share) {
      navigator.share({
        title,
        text: 'Je voulais te partager ce post',
        url,
      }).catch((error) => console.log('Erreur de partage', error));
    } else {
      alert("Le partage via l'appareil n'est pas supporté sur ce navigateur.");
    }
  }
</script>
