<div class="row {% if page.url == "/portfolio.html" %}pb-5 border-bottom mt-5{% endif %} ">

  <!-- column 1 -->
  {% if page.url != "/portfolio.html" %}

    <div class="col-12 my-auto text-center py-2">

  {% else %}

    <div class="col-md-5 my-auto text-center py-2">

  {% endif %}

  <img src="{{ project.images[0] }}" alt="{{ project.name }}" class="img-fluid">

</div>

<!-- column 2 -->
{% if page.url != "/portfolio.html" %}

<div class="col-12 px-4 mx-auto">

  {% else %}

  <div class="col-md-7 px-4 mx-auto">

    {% endif %}

    <div>

      {% if project.url %}

      <h3 class="mb-2">

        <a href="{{ project.url }}" class="text-dark">{{ project.name }}</a>

      </h3>

      {% else %}

      <h3 class="mb-2">{{ project.name }}</h3>

      {% endif %}

    </div>

    {% if page.url == "/portfolio.html" %}

    <div class="text-muted mb-2">{{ project.mission }}, {{ project.year }}</div>

    {% for expertise in project.expertises %}

    <span class="font-weight-bold btn btn-outline-primary mx-2">

      {{ expertise }}

    </span>

    {% endfor %}

    {% endif %}

  </div>

</div>