<div class="col-md-4">

  <div class="d-flex flex-column w-100 h-100">

    <div class="d-flex flex-column mx-auto w-100">

      <h3 class="shadow bg-light border border-muted pt-3 pb-3">

        {% if skills.url == "#" %}

          {{ skills.name }}

        {% else %}

          <a href="{{ skills.url }}" class="text-dark d-block">{{ skills.name }}</a>

        {% endif %}

        
      </h3>

      <span class="d-block text-center mx-auto my-5">
        
        <i class="{{ skills.img }} text-primary fa-5x text-center"></i>

      </span>
             
      {% for feature in skills.features %}
             
        <div class="d-block text-muted text-center">{{ feature.name }}</div>
             
      {% endfor %}       

    </div>
        
    <div class="d-flex flex-column align-items-end h-100">

      {% if skills.url != "#" %}

        <div class="d-flex mt-auto mx-auto">

          <a href="{{ skills.url }}" class="shadow btn btn-primary my-3">Je m'intéresse à un {{ skills.name }}</a>

        </div>

      {% endif %}

    </div>

  </div>
   
</div>