---
layout: landing
title: "Découvrez le portfolio des projets réalisés"
summary: "Portfolio de Nicolas Jouanno, Développeur Full-Stack JS à Pontivy, Bretagne. Découvrez quelques projets réalisés en tant que chef de projet digital et Développeur Full-Stack JS durant ces dernières années."
permalink: "/portfolio.html"
bg: bg-profile
h1: Inspirez-vous des précédents projets réalisés.
h2: Je maitrise les problématiques marketing, design et tech. J'aime garder les choses simples et procurer une expérience propre et fonctionnel à vos utilisateurs.
cta: Demander un audit gratuit →
footer_cta: Vous aussi vous avez un projet à créer ou à développer ? Découvrez ce que le studio peu faire pour vous, les technologies utilisées et mes outils favoris.
---        
<div class="main-content">
  <div class="container">

    <!-- content -->
    <section>

      {% for project in site.data.projects %}

        <article id="{{ project.name }}">
          
            {% include /boxes/project.html %}
    
        </article>
      
      {% endfor %}          

    </section>

  </div>

</div>

{% include /cta/footer.html cta-link="/studio.html" cta-text="Découvrir le studio" %}
