---
layout: default
title: "Créer un site internet sans coder"
summary: "Créer un site internet est la porté de tout le monde, le tout est de savoir par commencer. Suivez le guide, ici je vous dis tout."
permalink: "/cours/creer-site-web-sans-coder.html"
form_portalId: "5421786"
form_formId: "138f9ba6-2933-426b-a467-c1c08e495bca"
id: 01
---
<!-- header -->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="row p-5">
      <div class="col-12">
        <div class="d-block mb-3">
          <a href="{{ site.url }}" class="text-muted">Nicolas Jouanno</a> > <a href="{{ site.url }}/academy.html" class="text-muted">Academy</a> > <a href="{{ site.url }}/cours.html" class="text-muted">Cours</a> > <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        </div>
        <h1 class=" text-center">{{ page.title }}</h1>
        <em class="text-muted text-center d-block">{{ page.summary }}</em>
      </div>
    </div>    
  </div>
</div>

<!-- contenu -->
<div class="container">

  <div class="row my-5">

    <div class="col-md-8">

      <div class="row bg-light shadow p-5">
        <div class="col-12">
          <h2 class="mb-3">Ce cours est fait pour vous si ...</h2>
          <p>Vous n'avez jamais créé de site internet avant.</p>
          <p>Vous avez déjà un site internet mais n'êtes pas sûr de l'avoir configuré correctement.</p>
          <p>Vous avez un site internet mais vous n'avez pas été en mesure de le structurer et de créer un contenu de façon pertinante.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="mt-5 mb-3">Introduction</h2>

          <p>Depuis quelques années, l'essor des <strong>éditeurs de site internet grand public</strong> (Wix, Webflow, Squarespace, Strikingly, ...) permet à tout un chacun de créer soi-même simplement et en quelques minutes un site internet.</p>

          <p>Vous l'avez compris il n'y a plus de marche "technique" à franchir pour se lancer dans la <strong>création de son site web</strong>. Ce qui rend la publication de celui si rapide que vous pouvez <strong>mettre en ligne</strong> une première version de votre site internet en moins d'une heure.</p>

          <p>Pour autant il ne faut pas griller les étapes. Un projet de site internet se structure en amont. Pourquoi ? Pour n'oublier aucune information, la structurer et la clarifier.</p>

          <p>Pour éviter ce piège, je reprends avec vous toutes les étapes pour rendre la création ou la refonte de votre site internet efficace pour capter vos clients. Ce cours vous permettra donc de préparer le <strong>cahier des charges fonctionnel</strong> de votre site web. De le tester pour valider le contenu et l'ergonomie que vous aurez imaginé.</p>

          <p>La structure que vous aurez conçue grâce à ce cours vous permettra de <strong>réaliser vous-même un site internet</strong> efficace auprès de vos clients. Vous pourrez également passer le relai de la <strong>création à une agence ou un <a href="{{ site.url }}/studio.html">freelance</a></strong>.</p>

        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="mt-5 mb-3">Programme du cours</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-12 px-5">
          {% for lesson in site.data.courses %}
            {% if lesson.id == page.id %}
              {% for module in lesson.modules %}
                <h3 class="h4 text-primary mt-5 mb-3 ml-4">{{ module.name }}</h3>
                <p class="text-muted text-justify">{{ module.summary }}</p>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="row my-5">
        <div class="col-12 px-5">
          <h2 class="mb-5">FAQ</h2>
          <h3 class="text-primary my-3 h4 ml-4">Faut-il savoir coder ?</h3>
          <p>Non. Les parties 1 à 3 se réalise avec des outils simples comme la suite office ou google docs. La partie 4 utilise un CMS en ligne clé en main.</p>
          <h3 class="text-primary my-3 h4 ml-4">Les logiciels utilisés dans le cours sont-ils payant ?</h3>
          <p>Non. Tout les outils utilisés dans ce cours sont libre de droit ou disposent de tarification freemium.</p>
          <h3 class="text-primary my-3 h4 ml-4">Ce cours est-il accompagner d'un suivi personnalisé ?</h3>
          <p>Non. Les cours et les coaching sont des services distinct. Pour profiter d'un suivi personnalisé rendez-vous sur l'espace de <a href="{{ site.url }}/coaching.html">coaching</a>.</p>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="sticky-top  pt-3">
        <div class="d-block bg-light shadow border border-muted p-3">
          <h3 class="d-block my-3">Inscription au cours</h3>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "{{ page.form_portalId }}",
            formId: "{{ page.form_formId }}"
          })
          </script>            
        </div>
      
      </div>
    </div>

  </div>

</div>
