{% assign author = site.author %}

<article
  id="{{post.slug}}"
  class="c-card c-card--flat c-card--medium u-flex u-flex--col u-flex--stretch u-flex--tight"
>
  <header class="u-flex u-flex--between">
    <div class="u-flex u-flex--tight">
      {% include /components/author.html author=author post=post %}

      <h3 class="u-full u-spacing--0" id="{{post.slug}}-title">
        <a class="u-link--dark" href="{{ post.url | absolute_url }}"
          >{{ post.title }}</a
        >
      </h3>
    </div>
  </header>

  {% if post.image %}
  <img
    class="u-img u-img--cover u-img--rounded u-img--banner"
    src="{{ post.image | relative_url }}"
    alt="{{ post.image_alt | default: post.title }}"
    loading="lazy"
  />
  {% endif %} {% assign content = post.content | strip_html %} {% assign excerpt
  = content | truncatewords: 70 %} {% if excerpt %}
  <p>{{excerpt}}</p>
  {% endif %}

  <footer>
    <ul class="u-list c-button-stack">
      <li>
        <a
          class="c-button c-button--primary"
          href="{{ post.url | absolute_url }}"
          aria-describedby="{{post.slug}}-title"
        >
          Lire
        </a>
      </li>

      {% assign post_category_slug = post.category %}
      {% unless post_category_slug %}
        {% assign post_category_slug = post.categories | first %}
      {% endunless %}
      {% assign post_category = site.pages | where: "category", post_category_slug | first %}
      {% if post_category %}
      <li>
        <a class="c-tag" href="{{ post_category.url }}">{{ post_category.label }}</a>
      </li>
      {% endif %}
    </ul>
  </footer>
</article>
