<div class="u-text--center">
  <ul class="c-button-stack c-button-stack--center u-list">
    <li>
      {% include components/social-link.html icon="facebook" url=site.author.facebook label="Facebook — Nicolas Jouanno" %}
    </li>
    <li>
      {% include components/social-link.html icon="instagram" url=site.author.instagram label="Instagram — @bynicolasjd" %}
    </li>
    <li>
      {% include components/social-link.html icon="threads" url=site.author.threads label="Threads — @bynicolasjd" %}
    </li>
    <li>
      {% include components/social-link.html icon="x" url=site.author.twitter label="X — @bynicolasjd" %}
    </li>
    <li>
      {% include components/social-link.html icon="youtube" url=site.author.youtube label="YouTube — @byNicolasJD" %}
    </li>
  </ul>
</div>
