{% assign author = site.data.authors[post.author] %}

<article class="c-post-card" itemscope="" itemtype="http://schema.org/BlogPosting">
  <header class="c-post-card__header">
    <div class="c-post-card__author">
      <img class="c-post-card__avatar" src="{{ author.avatar }}" alt="{{ author.display_name }}" aria-hidden="true" />
      <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <span class="c-post-card__author-name" itemprop="name">{{ author.display_name }}</span>
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="{{ site.data.config.url }}/{{ site.logo }}" />
          <meta itemprop="width" content="60" />
          <meta itemprop="height" content="60" />
        </span>
        <meta itemprop="url" content="{{site.data.config.url}}" />
        <div class="c-post-card__post-date" itemprop="dateCreated datePublished dateModified">{{ post.date | date_to_string }}</div>
      </div>
      <h2 itemprop="headline" class="c-post-card__header-title">
        <a class="c-post-card__post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
      </h2>
      <meta itemprop="url mainEntityOfPage" content="{{ site.data.config.url}}{{post.url }}" />
      <meta itemprop="author creator" content="{{ author.display_name }}" />
    </div>
  </header>
  <p class="c-post-card__content">
    {{ post.excerpt | strip_html | truncatewords:30 }}
  </p>
  <footer class="c-post-card__footer">
    <ul class="u-list u-list--none u-list--inline">
      {% for category in post.categories %}
        <li class="c-post-card__tag">#{{ category }}</li>
      {% endfor %}
    </ul>
  </footer>
</article>
