{%- assign image_path = include.image | default: "" | strip -%}
{%- if image_path contains "://" -%}
  {{- image_path -}}
{%- elsif image_path != "" -%}
  {%- assign image_path = image_path | replace: "packages/images/src/", "/images/" | replace: "/assets/images/", "/images/" -%}
  {%- assign first_character = image_path | slice: 0, 1 -%}
  {%- assign first_directory = image_path | slice: 0, 7 -%}
  {%- if first_directory == "images/" -%}
    {%- assign image_path = "/" | append: image_path -%}
  {%- elsif first_character != "/" -%}
    {%- assign image_path = "/images/posts/" | append: image_path -%}
  {%- endif -%}
  {{- image_path | replace: ".jpeg", ".webp" | replace: ".jpg", ".webp" | replace: ".png", ".webp" -}}
{%- endif -%}
