{% if page.url == "/" and page.url =="index.html" %}

    <div class="d-block">

        <div class="d-block">

            {% if page.url == "/stories.html" %}

                <h1 class="">Stories</h1>
            
            {% else %}

                <span class="h1">Stories</span>

            {% endif %}

        </div>

    </div>

{% endif %}

<div class="d-block mt-5 mb-2 text-center">

    <div class="d-block my-3 px-5">
        
        <img src="{{ site.data.authors.nicolas.avatar }}" alt="{{ site.data.authors.nicolas.display_name }}, {{ site.data.authors.nicolas.current_job }}" class="img-fluid">
        
    </div>

    <h3 class="mb-2">Nicolas Jouanno</h3>
    <span class="d-block text-muted">
        <a href="{{ site.url }}/results.html">Ex-cycliste professionnel</a>, Runner, Surfeur, Photographe & Createur.
    </span> 
    <span class="d-block my-2 text-muted">{{ site.data.authors.nicolas.age }}, {{ site.data.authors.nicolas.location }}</span>
    <div class="d-block">
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
    </div>

</div>

<div class="sticky-top d-block pt-3">
    
    <div class="d-block p-3 mb-5 bg-light rounded">

        {% include boxes/stories-testimonials.html %}

    </div>

    <div class="d-block my-5">

        <strong class="d-block mb-2">Derniers sujets</strong>

        <ul class="list-inline">

            {% for thematic in site.data.thematics %}

                <li class="list-inline-item m-0">

                {{ thematic.name }}

                {% unless forloop.last == true %}

                    <span class="mx-2 text-muted">/</span>

                {% endunless %}

                </li> 

            {% endfor %}     

        </ul>

    </div>

</div>
