---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section>
  {% if page.url != "/stories.html" %}
  <h1>
    Stories de la {{ page.type }}
    <a href="{{site.url}}{{page.url}}">#{{ page.title }}</a>
  </h1>
  {% else %}
  <h1>Stories</h1>
  {% endif %}

  <nav>
    <ul>
      {% for category in site.data.categories %} {% if category.home == true %}
      <li>
        <a href="/categories/{{ category.link | downcase }}"
          >#{{ category.name }}</a
        >
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>

  <div>
    <!-- Default Categories Page Posts
    ================================================== -->
    <div>
      {% for post in site.posts %} {% if post.categories contains page.title %}
      {% include /boxes/post.html type=page.entries_layout class="col-lg-4
      col-md-6" %} {% endif %} {% endfor %}
    </div>

    <!-- Page Content
    ================================================== -->
    {% if page.url != "/stories.html" %}
    <div>{{ content }}</div>
    {% else %}
    <div>
      {% for post in site.posts %} {% include /boxes/post.html
      type=page.entries_layout class="col-lg-4 col-md-6" %} {% endfor %}
    </div>
    <div>{{ content }}</div>
    {% endif %}
  </div>
  <!-- Pagination
  ================================================== -->
  <nav class="navigation text-center" role="navigation">
    {% include /plugins/pagination.html %}
  </nav>
</section>
