<!doctype html>
<html lang="fr">
  <!-- Head
    ================================================== -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.title %}
    <title>{{ page.title }} | {{site.data.config.title}}</title>
    <meta
      name="title"
      content="{{ page.title }} | {{site.data.config.title}}"
    />
    {% else %}
    <title>{{ site.data.config.headline }} | {{site.data.config.title}}</title>
    <meta
      name="title"
      content="{{ site.data.config.headline }} | {{site.data.config.title}}"
    />
    {% endif %} {% if page.seo_description %}
    <meta
      name="description"
      content="{{ page.seo_description }} | {{site.data.config.title}}"
    />
    {% elsif page.type == "catégorie" %}
    <meta
      name="description"
      content=">Stories de la {{ page.type }} {{ page.title }} | {{site.data.config.title}}"
    />
    {% else %}
    <meta
      name="description"
      content="{{ content | strip_html | truncatewords:19 }} | {{site.data.config.title}}"
    />
    {% endif %}

    <meta
      name="keywords"
      content="{% for kw in site.meta_keywords %}{{ kw }},{% endfor %}"
    />

    <!-- icons -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ site.data.config.url }}/assets/images/brand/apple-touch-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ site.data.config.url }}/assets/images/brand/favicon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ site.data.config.url }}/assets/images/brand/favicon-160x160.png"
      sizes="160x160"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ site.data.config.url }}/assets/images/brand/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ site.data.config.url }}/assets/images/brand/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ site.data.config.url }}/assets/images/brand/favicon-32x32.png"
      sizes="32x32"
    />

    <!-- style -->
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />

    <!-- rss -->
    <link
      id="feedLink"
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="{{ site.data.config.url }}/feed.xml"
    />

    <!-- SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="referrer" content="always" />
    <meta name="theme-color" content="#000000" />
    {% if site.google_verification %}
    <meta
      name="google-site-verification"
      content="{{ site.google_verification }}"
    />
    {% endif %}
    <link
      rel="canonical"
      href="{{ page.url | replace:'index.html','' | prepend: site.data.config.url }}"
    />
    <meta
      name="author"
      content="{{ site.data.authors.nicolas.display_name }}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- twitter card-->
    <!-- <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="{{ site.twitter.username }}">
        <meta name="twitter:site" content="{{ site.twitter.username }}">
        {% if page.image %}
            <meta name="twitter:image:src" content="{{ site.data.config.url }}/{{ page.image }}">
        {% else %}
            <meta name="twitter:image:src" content="{{ site.data.config.url }}/assets/images/jumbotron.jpg" />
        {% endif %}
        
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{site.data.config.title}}{% else %}{{ site.data.config.title }}{% endif %}">
        <meta name="twitter:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.meta_description }}{% endif %}"> -->

    <!-- open graph card-->

    {% if page.title %}
    <meta
      property="og:title"
      content="{{ page.title }} | {{site.data.config.title}}"
    />
    {% else %}
    <meta
      property="og:title"
      content="{{ site.data.config.headline }} | {{site.data.config.title}}"
    />
    {% endif %}

    <meta property="og:type" content="article" />
    {% if page.image %}
    <meta
      property="og:image"
      content="{{ site.data.config.url }}/{{ page.image }}"
    />
    {% else %}
    <meta
      property="og:image"
      content="{{ site.data.config.url }}/{{ site.og_image }}"
    />
    {% endif %}

    <meta
      property="og:url"
      content="{{ site.data.config.url }}{{ page.url }}"
    />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:site_name" content="{{ site.data.config.title }}" />
    <meta
      property="og:description"
      content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.meta_description }}{% endif %}"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "{{site.address.city}}",
          "streetAddress": "{{site.address.street}}",
          "postalCode": "{{site.address.code}}",
          "addressCountry": "{{site.address.coutry}}"
        },
        "email": "pro(at)nicolasjouanno.com",
        "founder": [
          {
            "@type": "Person",
            "name": "{{ site.data.authors.nicolas.display_name }}",
            "url": "{{ site.data.authors.nicolas.web }}"
          }
        ],
        "name": "{{ site.data.authors.nicolas.display_name }}",
        "url": "{{ site.data.config.url }}",
        "sameAs": [
          "{{site.mediumcom.publisher}}",
          "{{site.linkedin.publisher}}",
          "{{site.dribble.publisher}}",
          "{{site.github.publisher}}"
        ],
        "logo": {
          "@type": "ImageObject",
          "width": 60,
          "height": 60,
          "url": "{{ site.data.config.url }}/{{ site.logo }}"
        }
      }
    </script>
  </head>

  <!-- body -->
  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{%
  endcapture %}
  <body
    class="c-layout c-layout--{{ layout }}"
    itemscope
    itemtype="http://schema.org/WebPage"
  >
    <header role="banner" class="c-layout__header">
      <nav role="navigation" class="c-navigation c-navigation--main">
        <a href="{{ site.data.config.url }}" class="c-navigation__title">
          {{ site.data.config.title }}
        </a>

        <ul class="c-navigation__link-list">
          <li class="c-navigation__link-list-element">
            <a
              class="c-button {% if page.url == '/about.html' %}c-button--active{% endif %}"
              href="{{ site.data.config.url }}/about.html"
              >Profil</a
            >
          </li>

          <li class="c-navigation__link-list-element">
            <a
              href="{{ site.data.config.url }}/feed.xml"
              type="application/rss+xml"
              class="c-button c-button--primary"
              >Suivre
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <nav aria-label="Breadcrumb" class="c-layout__breadcrumb">
      <ol>
        <li>
          <a
            href="{{ site.data.config.url }}"
            aria-current="{% if page.url == '/' or page.url == '/index.html' %}page{% else %}false{% endif %}"
          >
            Accueil
          </a>
        </li>

        {% unless page.url == '/' or page.url == '/index.html' %}
        <li>
          <a href="" aria-current="page">{{ page.title }}</a>
        </li>
        {% endunless %}
      </ol>
    </nav>

    <!-- Content
        ================================================== -->
    <main role="main" class="c-layout__content">{{ content }}</main>

    <footer role="contentinfo" class="c-layout__footer c-section">
      <!-- credit -->
      <article class="c-footer-nav">
        <div>
          <a href="/" class="c-footer-nav__title"
            >{{ site.data.config.title }}</a
          >
          <div class="c-footer-nav__headline">
            {{ site.data.config.headline }}
          </div>
        </div>
        <ul class="c-navigation__link-list">
          <li class="c-navigation__link-list-element">
            <a href="{{ site.data.config.url }}/about.html" class="c-button"
              >Développeur Front-end</a
            >
          </li>
          <li class="c-navigation__link-list-element">
            <a href="{{ site.data.config.url }}/results.html" class="c-button"
              >Sportif</a
            >
          </li>
          <li class="c-navigation__link-list-element">
            <a
              href="{{ site.data.authors.nicolas.linkedin }}"
              class="c-button c-button--primary"
              target="_blank"
              rel="me"
              >Me contacter</a
            >
          </li>
        </ul>
      </article>

      <article class="c-layout__legals">
        <p>
          © 2013 - {{ site.time | date: "%Y" }}. Design et développement: {{
          site.data.authors.nicolas.display_name }}.
          <a href="/sitemap.html">Plan de site</a>. Me retrouver sur:
          <a
            href="{{ site.data.authors.nicolas.github }}"
            rel="me"
            target="_blank"
            >Github</a
          >,
          <a
            href="{{ site.data.authors.nicolas.linkedin }}"
            rel="me"
            target="_blank"
          >
            Linkedin </a
          >.
        </p>
      </article>
    </footer>

    <!-- JavaScript
        ================================================== -->
    <script src="{% link assets/main.js %}" async></script>
    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "a5774cce1e6b423a9581953ee8af8766"}'
    ></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
