---
layout: page
---

<!-- Begin Article
================================================== -->

{% assign author = site.author %}
<article itemscope itemtype="http://schema.org/BlogPosting">
  <time
    itemprop="dateCreated datePublished dateModified"
    datetime="{{ page.date | date:'%Y-%m-%d' }}"
  ></time>

  <!-- Post heading -->
  <h1 itemprop="name headline">{{ page.title }}</h1>
  <meta itemprop="url mainEntityOfPage" content="{{ site.url}}{{page.url }}" />
  <p>{% for category in page.categories %} #{{category}} {% endfor %}</p>

  <!-- Post Content -->
  <div itemprop="articleBody">
    {{content}} {% if page.author %} {% include /boxes/author.html
    post=page %} {% endif %}
  </div>
</article>

<!-- End Article
================================================== -->

<!-- Prev/Next -->
<aside>
  <ul class="u-list u-list--none u-list--inline">
    {% if page.previous.url %}
    <li>
      <a
        class="prev d-block col-md-6"
        href="{{page.previous.url | absolute_url}}"
      >
        &laquo; {{page.previous.title}}</a
      >
    </li>
    {% endif %} {% if page.next.url %}
    <li>
      <a
        class="next d-block col-md-6 text-lg-right"
        href="{{page.next.url | absolute_url}}"
        >{{page.next.title}} &raquo;
      </a>
    </li>
    {% endif %}
  </ul>
</aside>
