---
layout: default
---
<div class="container py-5">

    <div class="row h-100">

        <div class="col-12 mx-auto h-100">

            <div class="row h-100">

                <div class="col-md-4">

                    {% include sidebar/stories.html %}

                </div>

                <div class="col-md-8">

                  <img src="/assets/images/projets/ext-7.png" alt="Volt!" class="img-fluid mb-5">

                  {{ content }}

                </div>

            </div>

        </div>

    </div>

</div>  
