$variants: 'primary', 'secondary', 'dark', 'light';

@mixin button-variantes($variants, $outline) {
  @each $variant in $variants {
    @if $outline {
      .c-button.c-button--#{$variant}-outline {
        color: var(--color-#{$variant});
        border-color: var(--color-#{$variant});

        &:hover,
        &:focus {
          background-color: var(--color-dark);
          color: var(--color-dark-with);
        }
      }
    } @else {
      .c-button.c-button--#{$variant} {
        color: var(--color-#{$variant}-with);
        background-color: var(--color-#{$variant});
        border-color: var(--color-#{$variant});

        &:hover,
        &:focus {
          border: 1px solid var(--color-dark);
        }
      }
    }
  }
}

.c-button {
  display: inline-flex;
  align-items: center;
  gap: var(--size-8);
  width: fit-content;
  padding: var(--size-8) var(--size-16);
  border: 1px solid transparent;
  border-radius: var(--size-32);
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: var(--font-family);

  &--active,
  &:hover {
    text-decoration: underline;
  }
}

@include button-variantes($variants, $outline: false);
@include button-variantes($variants, $outline: true);
