.c-callout {
  background: color-mix(in srgb, var(--color-primary), white 85%);
  border-left: 4px solid var(--color-primary);
  padding: var(--size-16);
  border-radius: var(--size-8);
  text-align: left;

  &__title {
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: var(--size-8);
  }

  &__text {
    color: var(--color-primary);
    line-height: var(--line-height);
    margin: 0;
  }
}
