$sizes: 2, 3;

.c-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--icon-color, currentColor);

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  @each $size in $sizes {
    &.c-icon--x#{$size} {
      width: calc(var(--icon-size) * $size);
      height: calc(var(--icon-size) * $size);
    }
  }
}
