.c-jumbotron {
  background-image: var(--c-jumbotron-img, url('/assets/images/jumbotron.jpg'));
  background-color: var(--color-primary);
  background-size: cover;
  background-position: center;
  padding: var(--size-32) var(--size-128);

  &__content {
    padding: var(--size-16);
    background-color: var(--color-light);
    max-width: var(--breakpoint-m);
    margin: auto;
  }

  &__citation {
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size) * 3);
    margin: 0;

    &-container {
      margin: 0;
    }
  }

  &__author {
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size) * 2);
  }
}

@media screen and (width <= 90rem) {
  .c-jumbotron {
    padding: var(--size-16);

    &__author {
      font-size: calc(var(--font-size) * 1.5);
    }

    &__citation {
      font-size: calc(var(--font-size) * 2);
    }
  }
}
