.c-post-card {
  display: flex;
  flex-flow: column wrap;
  gap: var(--size-8);

  &__content {
    flex: 1 1 auto;
    margin: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      margin: 0;
      width: 100%;
    }
  }

  &__post-link {
    color: var(--color-dark);
    text-decoration: none;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: var(--size-64);
  }

  &__avatar {
    width: var(--size-32);
    height: var(--size-32);
    border-radius: 100%;
    vertical-align: top;
    align-self: baseline;
  }

  &__tag {
    margin: 0;
    color: var(--color-primary);
    font-family: var(--font-family);
  }

  &__author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-name {
      flex: 1 0 auto;
      margin-right: var(--size-8);
      color: var(--color-dark);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__meta {
    font-size: calc(var(--font-size) * 0.8);
    color: var(--color-dark);
  }

  &__media {
    width: 100%;
    max-height: calc(var(--size-16) * 20);
    object-fit: cover;
    border-radius: var(--size-16);
  }

  &__social {
    color: var(--color-dark);
  }
}

@media screen and (width <= 90rem) {
  .c-post-card {
    flex-wrap: wrap;
    margin: 0;
  }
}
