$variants: 'primary', 'secondary', 'dark', 'light';

@mixin section-variantes($variants) {
  @each $variant in $variants {
    &.c-section--#{$variant} {
      background-color: var(--color-#{$variant});
      &, a:not(.c-button) {
        color: var(--color-#{$variant}-with);
      }
    }
  }
}

.c-section {
  padding: var(--section-spacing);
  display: flex;
  flex-direction: column;
  gap: var(--size-16);

  &__title.c-section__title--center {
    text-align: center;
  }

  &__cta {
    display: flex;

    &--center {
      justify-content: center;
    }
  }

  &__post {
    &-item {
      padding-bottom: var(--size-16);
      margin-bottom: var(--size-8);

      &:last-child {
        margin-bottom: 0;
      }

      &:not(.c-section__post-item:last-child) {
        border-bottom: solid var(--color-dark-light) 1px;
      }
    }

    &-list {
      display: flex;
      flex-flow: column wrap;
      align-items: stretch;
      list-style: none;
      gap: var(--size-16);
      padding: 0;
      margin: 0;

      &.c-section__post-list--compact {
        gap: var(--size-4);
      }
    }
  }

  &.c-section--main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: calc(var(--font-size) * 3);
      line-height: calc(var(--line-height) * 3);
    }
  }

  &.c-section--compact {
    p {
      margin: 0;
    }
  }

  @include section-variantes($variants);
}

@media screen and (width <= 900px) {
  .c-section {
    padding: var(--size-16);
  }

  .c-section--main.c-section {
    flex-wrap: wrap;

    .c-section__image {
      order: 1;
    }

    .c-section__text {
      order: 2;
    }

    .c-section__title {
      font-size: calc(var(--font-size) * 2);
      line-height: calc(var(--line-height) * 2);
    }
  }
}
