
<header class="container-fuild">

  {% if page.url != "/" %}

    <div class="d-none d-md-block bg-white border-bottom border-primary text-center text-dark py-3 shadow ">

      Recevez une nouvelle <span class="bg-primary-light p-2 h3 text-primary mx-2">Story</span> chaque vendredi dans votre boite email, rien d'autre. <a href="{{ site.url}}/stories.html" class="btn btn-primary p-2 ml-3 mr-2">S'inscrire ici<i class="fas fa-arrow-right ml-2"></i> </a>
        
    </div>
  
  {% endif %}

  <div class="container">

    {% include /header/menu_main.html %}

  </div>

</header>

