<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-dark nav-down">
    <div class="container pr-0"> 
        <!-- Site Title
        ================================================== -->
        <!-- Begin Logo -->

        <button class="navbar-toggler d-sm-flex d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-dark float-right"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="mainMenu">
            <!-- Begin Menu -->
            <ul class="navbar-nav mx-auto">
              
              <li class="nav-item">
              
                <a class="nav-link btn btn-outline-light {% if page.url == '/studio.html' %}border border-dark{% else %} border-0{% endif %} text-dark" href="{{ site.url }}/studio.html">Studio</a>

              </li>

              <li class="nav-item">
                <a class="nav-link px-3 btn btn-outline-light {% if page.url == '/stories.html' %}border border border-dark{% else %} border-0{% endif %} text-dark" href="{{ site.url }}/stories.html">Stories</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-outline-light text-dark" href="https://app.nicolasjouanno.com" target="_blank">Feezify:me</a>
              </li>

              <li class="nav-item">
                <a class="nav-link btn btn-primary ml-2 shadow {% if page.url == '/club.html' %}border border-dark{% else %} border-0{% endif %} text-white" href="{{ site.url }}/club.html"><i class="fas fa-users mr-2"></i>Club</a>
              </li>

          </ul>
          <!-- End Menu -->
        </div>
    </div>
</nav>    
<!-- End Navigation
================================================== -->  
