$variants: 'primary', 'secondary', 'dark', 'light';

@mixin button-variantes($variants, $outline) {
  @each $variant in $variants {
    @if $outline {
      .c-button.c-button--#{$variant}-outline {
        color: var(--color-#{$variant});
        border-color: var(--color-#{$variant});
        &:hover,
        &:focus {
          background-color: var(--color-dark);
          color: var(--color-dark-with);
        }
      }
    } @else {
      .c-button.c-button--#{$variant} {
        color: var(--color-#{$variant}-with);
        background-color: var(--color-#{$variant});
        border-color: var(--color-#{$variant});
        &:hover,
        &:focus {
          border: 1px solid var(--color-dark);
        }
      }
    }
  }
}
.c-button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  border-radius: 3rem;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 1.5rem;
  &--active {
    text-decoration: underline;
  }
}

@include button-variantes($variants, $outline: false);
@include button-variantes($variants, $outline: true);
