---
redirect_from: "/edito.html"
layout: landing
title: Découvrir mon histoire et mes projets
summary: "Développeur Full-Stack JS en Bretagne, j’ai 31 ans dont 8 ans d’expérience dans la gestion et création de projet digital."
permalink: "/about.html"
bg: bg-profile
h1: Front-end < JS > Back-end avec Nicolas Jouanno
h2: Je donne vie à vos idées. J'aime garder les choses simples et procurer une expérience propre et fonctionnelle à vos clients.
cta: Travaillons ensemble →
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---
<div class="container my-5">
  <div class="row">
    <div class="col-md-3 p-5 text-center">
      <img src="{{ site.url }}/assets/public/images/profile.png" alt="{{ site.data.authors.nicolas.display_name }}, {{ site.data.authors.nicolas.current_job }}"  class="img-fluid">
      <h3 class="my-2">{{ site.data.authors.nicolas.display_name }}</h3>
      <strong class="d-block my-2">{{ site.data.authors.nicolas.current_job }}</strong>
      <span class="d-block my-2 text-muted">{{ site.data.authors.nicolas.age }}, {{ site.data.authors.nicolas.location }}</span>
      <div class="d-block">
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.twitter }}" target="_blank" rel="me"><i class="fa-2x fab fa-twitter"></i></a>
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.github }}" target="_blank" rel="me"><i class="fa-2x fab fa-github"></i></a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="p-5 row bg-light rounded shadow">
        <div class="col-12 p-5">
          <big>
            <p>
              J'ai créé <a href="/studio.html">un studio indépendant</a> de conception de <a href="/offres/site-applicatif.html">site web applicatif et d'application mobile</a> à Pontivy, Bretagne. Je suis aussi l'homme derrière <a href="https://vtt.bzh">vtt.bzh</a>, une application web pour trouver une nouvelle randonnée chaque week-end en Bretagne. 
            </p>
            <p>
              Ma trajectoire professionnel s'inscrit dans le domaine sportif. Après une carrière de <a href="/results.html">cycliste professionnel</a>, je deviens Responsable Communication et Webmaster chez Twinner Sport. J'ai créé et dévelopé mon entreprise de vente d'article de sport outdoor cross-canal. Puis je suis devenu <a href="/chef-projet-digital.html">Chef de Projet Digital Full Stack</a> pour un groupement, dans lequel j'ai développé une plate-forme d'inscription en ligne <a href="/portfolio/project/event-izir.html"></a>event.izir.fr</a> et pilote la stratégie digitale du groupe.
            </p>
            <p>Maintenant, je suis développeur full-satck JS chez MGDIS. Une entreprise Bretonne qui aide les collectivités à gérer les aides publiques.</p>
            <p>
              Je tweet sur le sport, la mobilité, l'environnement, l'entreprenariat et le voyage sous le pseudo <a href="{{ site.data.authors.nicolas.twitter }}">{{ site.data.authors.nicolas.handle }}</a> sur Twitter.
            </p>
            <p><a href="{{ site.url }}/cv.html" class="btn btn-outline-primary font-weight-bold">Consulter mon cv <i class="fas fa-arrow-right ml-2"></i></a></p>
          </big>
        </div>
      </div>
    </div>
  </div>

  <!-- Hobbies
  ================================================== -->
  <div class="row">

    <div class="col-12 mb-5">
      <h3 class="mt-5 pt-5 pb-2">Les domaines qui me passionnent</h3>
      <div class="d-block d-md-flex justify-content-between text-center">

        {% for hobby in site.data.hobbies %}

          <div class="d-block font-weight-bold p-3">

            <span class="d-block mb-5">{{ hobby.name }}</span>

            <img src="{{ site.url }}/{{ hobby.img }}" alt="{{ hobby.name }}" class="img-fluid">

          </div>       

        {% endfor %}

      </div>

    </div>

  </div>

  <!-- Parcours
  ================================================== -->
  <div class="row">

    <div class="col-12 text-left">

      <h3 class="my-5 pb-2" id="chef-projet-digital">Retour sur mon parcours.</h3>

      <p>J'ai obtenue mon BTS Management des Unités Commerciales en 2008. Cette même année, je réalise mon premier <a href="/offres/site-vitrine.html">site vitrine</a> sous Wordpress au cours de mon alternance chez Twinner Sport.</p>
      
      <p>Ma passion pour le cyclisme, m'a fait connaître le monde du sport professionnel pendant trois saisons (2008-10). C'est durant les temps "off" de la saison que j'ai pris beaucoup de plaisir à me former sur le digital. Profitant de mes nouvelles connaissances pour affiner mon image en ligne via un site athlète.</p>

      <p>Ma passion pour le digital me fait découvrir les métiers du web-marketing, web-design et du développement web. Au fil des rencontres, je suis amené à <a href="/creation-site-internet.html">créer des site internet</a> sous Wordpress pour des magasins, restaurants, événements, athlètes et freelances. Imaginant des designs modernes et rendant les sites fous avec pleins de plugins.</p>

      <p>En 2013, un side-project: <a href="https://vtt.bzh" target="_blank">vtt.bzh</a>, crée un déclic. Je réalise que mon manque de compétences techniques me limite dans mon envie de rendre une expérience utilisateur fluide. Avec ses 10 000 visiteurs uniques mensuel, je me dis que je dois rapidement relever le défi d'un ami ingénieur: apprendre à coder.</p>

      <p>J'attendrai fin 2016 pour me lancer dans l'apprentissage du développement web. Cette année a été marquée par la reprise par une PME de mon activité d'<a href="/offres/site-e-commerce.html">e-commerce</a>, initiée en 2013. Elle signait le pivot d'un projet entrepreneurial: mon commerce d'articles de sport outdoor, à un projet de carrière: devenir développeur web.</p>

      <p>Mon rôle plus opérationnel, me permet de rentrer dans les détails techniques et de monter en compétence. Associé au temps libre permis par une vie de salarié, je prends le temps réaliser des certifications en "cours du soir" sur la thématique du développement web.</p>

      <p>J'ai maintenant 31 ans. Je cumule 10 ans d'expériences dans le web. Je gère des projets qui vont de la <a href="/creation-site-internet.html">création de site internet</a> au <a href="/product-manager.html">product management</a> de produits digitaux. Je réalise aussi des missions plus spécialisées comme le <a href="/expertises/developpeur-back-end.html">web-developpement</a> et l'UX/UI design en faisant le parallèle avec mes connaissances en <a href="/chef-projet-digital.html">marketing digital</a>.</p>

      <div class="row">
        <div class="col-12 text-center">
          <a href="{{ site.url }}/cv.html" class="btn btn-outline-primary font-weight-bold mt-5">
            Voir mon cv<i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

  <!-- Certifications
  ================================================== -->
  <div class="row ">
    <div class="col-12">
      <h3 class="mt-5 pt-5 pb-2">Mes Certifications</h3>
    </div>
  </div>
  <div class="row ">

    {% for certification in site.data.certifications %}

      {% if certification.featured == true %}
        <div class="col-md-4">

          <span class="my-3 font-secondary font-weight-bold d-block mb-2">{{ certification.title }}</span>

          <span class="text-muted">{{ certification.category }}</span>

        </div>
      {% endif %}
    {% endfor %}

  </div>

  <div class="row">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/certifications.html" class="btn btn-outline-primary font-weight-bold mt-5">
        Voir mes {{ site.data.certifications.size }} certifications<i class="fas fa-arrow-right ml-2"></i>
      </a>
    </div>
  </div>

  <!-- Projets
  ================================================== -->
  <div class="row">
    <div class="col-12">
      <h3 class="mt-5 pt-5 pb-2">Les derniers projets</h3>
    </div>
    {% for project in site.data.projects %}

      {% if project.profile == true %}

        <div class="col-md-6 text-center p-2">

          <div class="d-block bg-light shadow border-muted rounded">
            
            {% include /boxes/project.html %}
          
          </div>
        
        </div>

      {% endif %}
      
    {% endfor %}  
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/portfolio.html" class="btn btn-outline-primary font-weight-bold">Découvrir plus de projets <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>

  <!-- Studio
  ================================================== -->
  <div class="row">
    <div class="col-12 text-left">

      <h3 class="my-5 pt-5 pb-2">Quel est mon rôle dans un Projet Digital ?</h3>

      <div class="row">
        <div class="col-md-6 inspiration-1"></div>
        <div class="col-md-6">
          <p>Un projet digital est découpé, traditionnellement en trois verticales: Marketing, Design et Technique. Je peux intervenir sur la verticale technique de votre projet, avec une connaissance métier des deux autres.</p>

          <p>Je suis spécialisé dans le développement de projet web et la création de sites internet applicatif sur-mesure et « responsive ». Je peux concevoir le MVP votre start-up et de contribuer à la réalisation et le maintien de vos features.</p>                

          <p>Quel que soit votre projet online, il viendra forcément un moment où vous serez limité par le côté technique (connaissance de l'équipe, besoin d'accélérer, roadmap chargée...). Si votre équipe est restreinte, il peut être intéressant d'intégrer cette compétence en freelance pour des besoins ponctuels à plus long terme.</p>

          <p>En tant que développeur full-stack, je pourrai rejoindre votre product team pour vous aider dans l'exécution de votre roadmap. Mais aussi, intervenir sur la partie back-end pour automatiser des taches qui n'ont pas de valeur ajoutée. Si vous êtes dans une ville hors du Morbihan, je travaille aussi efficacement à distance.</p>

          <p>Une vision transversale sur le web est un atout majeur, c'est le rôle du <a href="/expertises/developpeur-back-end.html">Développeur Full Stack</a>. Je suis à votre disposition pour répondre à votre problématique et mettre mon savoir-faire à votre service, alors n’hésitez pas à me contacter pour discuter de votre projet !
          </p>
        </div>
      </div>

      <div class="row">

        {% for technologie in site.data.technologies limit:10  %}

          {% if technologie.profile == true %}

            <div class="col-md-1 col-sm-2 m-3 mx-auto tech-icon">

              {% if technologie.fontawesome %}

                <i class="{{technologie.fontawesome}} fa-3x text-primary"></i>

              {% else if technologie.icon %}

                <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">

              {% endif %}

            </div>

          {% endif %}

        {% endfor %}        
        
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <a href="{{ site.url }}/studio.html" class="btn btn-outline-primary font-weight-bold mt-5">
            Découvrir le studio<i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div>
      </div>      
    </div> 
  </div> 

  <!-- Toolbox
  ================================================== -->
  <div class="row text-center my-5 pt-5 pb-2">

    {% for tools in site.data.toolbox %}

      {% for tool in tools.tools %}

        {% if tool.feature == true %}

          {% include /boxes/tool.html %}

        {% endif %}

      {% endfor %}

    {% endfor %}

  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/toolbox.html" class="btn btn-outline-primary font-weight-bold">Découvrir plus d'outils <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>

  <!-- Contact
  ================================================== -->
  <div class="row">
    <div class="col-12">

      <h3 class="my-5" id="contact">Me contacter.</h3>

      <p>Vous pouvez me contacter <span class="text-primary contact">directement par mail</span> ou sur <a href="{{ site.data.authors.nicolas.twitter }}">Twitter</a>.</p>        
    </div>

  </div>

  {% include /cta/footer.html %}

</div>


