---
layout: landing
title: Découvrir mon histoire et mes projets
summary: "Chef de projet digital et Product Manager freelance en Bretagne, j’ai 31 ans dont 8 ans d’expérience dans la gestion de projet digital."
permalink: "/about.html"
bg: profile-bg
h1: Design < Code > Marketing
h2: Je maitrise les problématiques marketing, design et tech. J'aime garder les choses simples et procurer une expérience propre et fonctionnel à vos clients.
cta: Travaillons ensemble →
footer_cta: Quelle que soit votre activité, je me ferais un plaisir de répondre à vos interrogations et à vous aider à développer votre projet.
---
<div class="container my-5">
  <div class="row">
    <div class="col-md-3 p-5 text-center">
      <img src="{{ site.url }}/assets/public/images/profile.png" alt="{{ site.name }}" class="img-fluid">
      <h3 class="my-2">Nicolas Jouanno</h3>
      <strong class="d-block my-2">Product Developper Fullstack</strong>
      <span class="d-block my-2 text-muted">{{ site.data.authors.nicolas.age }}, {{ site.data.authors.nicolas.location }}</span>
      <div class="d-block">
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.twitter }}" target="_blank" rel="me"><i class="fa-2x fab fa-twitter"></i></a>
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.linkedin }}" target="_blank" rel="me"><i class="fa-2x fab fa-linkedin"></i></a>
        <a class="mr-2 text-muted" href="{{ site.data.authors.nicolas.github }}" target="_blank" rel="me"><i class="fa-2x fab fa-github"></i></a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="p-5 row bg-light rounded shadow">
        <div class="col-12 p-5">
          <big>
            <p>
              J'ai créé <a href="/studio.html">un studio indépendant</a> de création de <a href="/offres/site-applicatif.html">site web applicatif et d'application mobile</a> à Pontivy, Bretagne. Je suis aussi l'homme derrière <a href="https://app.nicolasjouanno.com">Feezify:me</a>, une application web pour gérer les entraînements des runners, cycliste et triathlète. 
            </p>
            <p>
              Ma trajectoire professionnel s'inscrit dans le domaine sportif. Après une carrière de <a href="/results.html">cycliste professionnel</a>, je deviens Responsable Communication et Webmaster chez Twinner Sport. J'ai créé et dévelopé mon entreprise de vente d'article de sport outdoor cross-canal. Puis je suis devenu <a href="/chef-projet-digital.html">Chef de Projet Digital</a> pour un groupement, dans lequel je développe une plate-forme d'inscription en ligne <a href="htts://event.izir.fr">event.izir.fr</a> et pilote la stratégie digitale du groupe.
            </p>
            <p>
              Je tweet sur le sport, la mobilité, l'environnement, l'entreprenariat et le voyage sous le pseudo <a href="{{ site.data.authors.nicolas.twitter }}">{{ site.data.authors.nicolas.handle }}</a> sur Twitter.
            </p>

          </big>
          
        </div>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h3 class="mt-5 pt-5 pb-2">Les derniers projets</h3>
    </div>
      {% for project in site.data.projects %}

        {% if project.profile == true %}

          <div class="col-md-6 text-center">
            
            {% include /boxes/project.html %}
          
          </div>

        {% endif %}
        
      {% endfor %}  
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/portfolio.html" class="btn btn-primary shadow">Découvrir plus de projets <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>

  <div class="row">

    <div class="col-12 text-justify">
      <h3 class="my-5 pt-5 pb-2" id="chef-projet-digital">Retour sur mon parcours.</h3>

      <p>J'ai obtenue mon BTS Management des Unités Commerciales en 2008, après une alternance de 2 ans chez Twinner Sport où je réaliser le <a href="/offres/site-vitrine.html">site vitrine</a>. Ma passion pour le cyclisme, m'a fait connaître le monde du sport professionnel pendant trois saisons.</p>

      <p>Débute alors une période où, par passion, je me forme non-officielement aux métiers du digital : du marketing au design en passant par le développement web. En bon <a href="/creation-site-internet.html">webmaster freelance</a> débutant, je réalise des sites internet sous Wordpress pour mon personnal branding sportif et administre le site développer durant mon alternance. Définissant des designs qui me plaisent et rendant les sites fous avec pleins de plugins.</p>

      <p>En 2013, un side-project crée un déclic et me fait prendre confiance dans mes compétences. C'est donc en m'appuyant sur mes 10 000 visites acquises grâces aux connaissances SEO et mes 5 000 utilisateurs de l'application mobile, que je me met à commercialiser activement mes compétences de webmaster auprès de restaurateurs, magasins de musique et de sport.</p>

      <p>Fin 2013, mon envie d'entreprendre s'accroit et je crée un commerce pour lequel je conçois le branding, développe les outils de gestion et me lance dans le <a href="/offres/site-e-commerce.html">e-commerce</a> et la définition de la strétégie digital. C'est aussi le projet qui me fera découvrir les problématiques de trésorerie et la limite des marges des produits physique. Fort de ses ventes en ligne croissantes, le site sera repris par une entreprise plus puissante. je rendrais les clés du local et de la direction pour piloter la suite des opérations de ce projet mi-2016.</p>

      <p>Mon rôle, plus opérationnel, m'encourrage donc rentrer dans le détail des thématiques design, technique et marketing. Je profite de la mise au placard de ma "casquette d'entrepreuneur" et du temps libre généré pour me former aux techniques du marketing digital, de la tech et du design en "cours du soir". Ainsi, j'ai peu me spécialiser sur le développement d'application web.</p>

      <p>J'ai maintenant 31 ans et me voilà avec déjà plus de 10 ans d'expériences cumulées dans le web et le marketing. Je gère des projets qui vont de la <a href="/creation-site-internet.html">création de site internet</a> au <a href="/product-manager.html">product management</a> de produits digitaux. Je réalise aussi des missions plus spécialisées comme le <a href="/developpeur-back-end.html">web-developpement</a>, l'UX/UI design, de branding et de <a href="/chef-projet-digital.html">consultant en marketing digital</a>.</p>

      <h3 class="my-5 pt-5 pb-2">C'est quoi un Product Developper Fullstack ?</h3>

      <div class="row mb-5">

        {% for technologie in site.data.technologies %}

          {% if technologie.profile == true %}

            <div class="col-md-1 col-sm-2 m-3 mx-auto tech-icon">

              {% if technologie.fontawesome %}

                <i class="{{technologie.fontawesome}} fa-3x text-primary"></i>

              {% else if technologie.icon %}

                <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">

              {% endif %}

            </div>

          {% endif %}

        {% endfor %}        
        
      </div>

      <p>Je travaille sur toutes les verticales d'un projet digital et peux intervenir pour tous vos projets. Je suis spécialisé dans la gestion de projet web et la création de sites internet applicatif sur-mesure et « responsive ». Je suis également à même de réaliser vos design de logo, de refonte d’identité visuelle ou de design d’application mobile.
      </p>                

      <p>Quel que soit votre projet online, un chef de projet vous apportera beaucoup. Si votre équipe est restreinte, il peut être intéressant d’intégrer cette compétence en freelance pour des besoins ponctuels comme les appels d’offres. Le chef de projet web pourra rejoindre votre équipe tout en supervisant plusieurs métiers tels que le(s) UX/UI designer(s) ou le(s) développeur(s) pour arriver au résultat le plus adapté à vos objectifs marketing et/ou business. Un chef de projet web pourra faciliter les échanges et les réunions entre les parties prenantes et vous orienter dans vos choix de growth-marketing. Si vous êtes dans une ville hors du Morbihan, je travaille aussi efficacement à distance.</p>

      <p>Une vision transversale sur le web est un atout majeur, c'est le rôle du <strong>Product Developper Fullstack</strong>. Je suis à votre disposition pour répondre à votre problématique et mettre mon savoir faire à votre service, alors n’hésitez pas à me contacter pour discuter de votre projet !
      </p>
    </div> 
  </div> 

  <!-- toolbox -->
  <div class="row text-center my-5 pt-5 pb-2">

    {% for tools in site.data.toolbox %}

      {% for tool in tools.tools %}

        {% if tool.feature == true %}

          {% include /boxes/tool.html %}

        {% endif %}

      {% endfor %}

    {% endfor %}

  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <a href="{{ site.url }}/toolbox.html" class="btn btn-primary shadow">Découvrir plus d'outils <i class="fas fa-arrow-right ml-2"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <h3 class="my-5" id="contact">Me contacter.</h3>

      <p>Vous pouvez me contacter <span class="text-primary contact">directement par mail</span> ou sur <a href="{{ site.data.authors.nicolas.twitter }}">Twitter</a>.</p>        
    </div>

  </div>

  {% include /cta/footer.html %}

</div>


