---
layout: activities
title: "Portfolio"
summary: "Portfolio de Nicolas Jouanno, chef de projet web, webmarketing & webdesign freelance à Pontivy, Loudéac. Découvrez quelques projets réalisés en tant que product manager ou chef de projet marketing, en agence ou en freelance durant ces dernières années."
permalink: "/portfolio.html"
---        
<div class="main-content">
  <div class="container-fluid ">

    <!-- header -->
<!--     <section id="home-header-newsletter" class="bg-header mb-5">
        <div class="row pt-5 pb-5">
            <div class="col-12 p-5" id="cta">

                <span class="jumbotron d-block text-center h2 font-primary">"Pourquoi se joindre à la Marine si vous pouvez être un pirate."<br><em class="h5">- Steve Jobs</em></span>

            </div>

        </div>
    </section> -->

    <!-- content -->
    <section>

      <article>
        
        <div class="row">

          {% for project in site.data.projects %}

            <div class="col-12 p-2 text-center mx-auto mt-5">
              <span class="d-block p-2">
                <img src="{{ project.images[0] }}" alt="{{ project.name }}" class="img-fluid">
                <h2 class="mt-4 mb-4 h4 text-center"><a href="{{ site.url }}/{{ project.url }}" class="text-dark">{{ project.name }}</a></h2>
                <em class="d-block mb-2">{{ project.description }}</em>
                {% for expertise in project.expertises %}
                  <span class="font-weight-bold text-primary">
                    {{expertise}}
                  </span>
                  {% if forloop.last == false %}
                   - 
                  {% endif %}
                {% endfor %}              
              </span>
            </div>

          {% endfor %}          
        </div>


      </article>

    </section>

  </div>

</div>

