---
layout: activities
title: "Les Projets"
summary: "Portfolio de Nicolas Jouanno, chef de projet web, webmarketing & webdesign freelance à Pontivy, Loudéac. Découvrez quelques projets réalisés en tant que product manager ou chef de projet marketing, en agence ou en freelance durant ces dernières années."
permalink: "/portfolio.html"
---        
<div class="main-content">
  <div class="container-fluid ">

    <!-- header -->
<!--     <section id="home-header-newsletter" class="bg-header mb-5">
        <div class="row pt-5 pb-5">
            <div class="col-12 p-5" id="cta">

                <span class="jumbotron d-block text-center h2 font-primary">"Pourquoi se joindre à la Marine si vous pouvez être un pirate."<br><em class="h5">- Steve Jobs</em></span>

            </div>

        </div>
    </section> -->

    <!-- content -->
    <section>

      <article>

        {% for project in site.data.projects %}
        
          {% include projectbox.html %}
          
        {% endfor %}          
  
      </article>

    </section>

  </div>

</div>

