---
layout: landing
title: Le studio
summary: "Chef de projet digital et Product Manager freelance en Bretagne, j’ai 31 ans dont 8 ans d’expérience dans la gestion de projet digital."
permalink: "/studio.html"
bg: inspiration-1
h1: Développez votre activité en ligne et améliorez votre expérience client.
h2: Mon savoir-faire en gestion de projet digital permet à votre entreprise de créer et valoriser son activité en ligne.
cta: Demander un devis
---

<!-- presentation -->
<div class="row bg-light pt-5 pb-5 text-center">
  <div class="col-12">
    <div class="row text-center">
      <div class="col-md-8 mx-auto">
        <h2 class="mb-5">Le studio</h2>
        <big>Moi c'est Nicolas, je suis à la recherche de challenges. Je me nourris des dernières tendances marketing, design et technologique du web pour offrir de l'innovation et de la qualité à mes clients. Je suis spécialisé dans la gestion de projet et la réalisation de sites vitrines, e-commerces et sites applicatifs sur-mesures.</big>    
      </div>
    </div>    
  </div>
</div>

<!-- projet -->
<div class="text-center" id="offres">
  
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="mb-5">Votre projet</h2>
      <p>Vous développez une application ou un site internet pour votre startup et êtes à la recherche d'un product manager? Vous avez besoin d'un professionnel pour gérer vos projets sur internet ? Vous voulez activer des leviers de growth pour votre business en ligne ? Découvrez comment je peux vous aider dans vos projets:</p>
    </div>
  </div>

  <div class="row mb-5 mt-5">

    {% for offre in site.data.offres %}
      
      {% include offresbox.html %}

    {% endfor %}

  </div>    
</div>

<!-- Expertises -->
<div class="row bg-light pt-5 pb-5 text-center">
  <div class="col-12">
    <div class="container text-center" id="expertises">
        <div class="row ">
          <div class="col-12">
            <h2 class="mb-5">Mes Expertises</h2>
          </div>
        </div>
      <div class="row text-center">
        <div class="col-12">

          {% for expertise in site.data.expertises %}

            <a href="{{expertise.url}}" class="btn btn-outline-primary m-2">{{expertise.name}}</a>

          {% endfor %}

        </div>
      </div>
    </div>   
  </div>
</div>

<!-- Technologies -->
<div class="container pt-5 pb-5 text-center" id="technologies">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-5">Les Technologies</h2>
    </div>
  </div>
  <div class="row text-center">

    {% for technologie in site.data.technologies %}

      <div class="col-md-3 col-sm-6 mx-auto">
        <a href="{{technologie.url}}" class="d-inline-block m-3 tech-icon">

          {% if technologie.fontawesome %}

            <i class="{{technologie.fontawesome}} fa-3x"></i>

          {% else if technologie.icon %}

            <img src="/assets/public/images/technologies/{{technologie.icon}}" alt="{{technologie.name}}">

          {% endif %}

          <h4 class="text-muted d-block text-center font-secondary h6 font-weight-bold mt-2 icon-title">{{technologie.name}}</h4>
          <small class="text-muted">{{technologie.description}}</small>
        </a>
      </div>

    {% endfor %}

  </div>
</div>

{% include footer-cta.html %}
