.c-jumbotron {
  background-image: url(./jumbotron.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem 10rem;
  &__content {
    padding: 5rem 10rem;
    background-color: var(--color-light);
  }
  &__citation {
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size) * 3);
    line-height: calc(var(--line-height) * 3);
    margin-bottom: 1.6rem;
  }
  &__author {
    font-family: var(--font-family-heading);
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--line-height) * 2);
  }
}

@media screen and (max-width: 900px) {
  .c-jumbotron {
    padding: 2rem;
    &__content {
      padding: 2rem;
    }
    &__author {
      font-size: calc(var(--font-size) * 1.5);
      line-height: calc(var(--line-height) * 1.5);
    }
    &__citation {
      font-size: calc(var(--font-size) * 2);
      line-height: calc(var(--line-height) * 2);
    }
  }
}
