---
layout: default
title: Stories
---
    
<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="row">

        {% include /boxes/labels.html %}

    </div>

    <div class="container mt-5">

        <div class="section-title">
            
            <h1 class="mt-5 mb-5 text-center font-primary">Toutes les dernières <span class="bg-primary-light p-3 text-primary border-primary">stories</span></h1>
            
        </div>
        
        <div class="row pt-2">

            {% for post in paginator.posts %}
            
                {% unless post.categories contains 'academy' %}

                    {% include /boxes/post.html %}

                {% endunless %}

            {% endfor %}
            
        </div>

        <!-- Pagination
        ================================================== -->
        <div class="bottompagination mt-3 mb-5">
            <div class="pointerup">
                <i class="fa fa-caret-up"></i>
            </div>
            <div class="navigation text-center" role="navigation">
                {% include /plugins/pagination.html %}
            </div>
        </div>  

    </div>
    
</section>

<aside>
    <!-- Newsletter
    ================================================== -->
    <div class="container">

        <div class="newsletter row bg-light py-5 text-center shadow rounded">

            <div class="col-md-10 col-lg-8 mx-auto">

                <h2 class="d-block font-primary mb-5">Pas encore inscrit aux <span class="py-2 px-3 text-primary border-primary px-2">Stories</span> ?</h2>
                
                <p class="mb-4">{{author.post_cta}}</p>

                {% include /plugins/newsletter.html %} 

            </div>

        </div>
        
    </div>

</aside>