@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:400,700,900');

.font-primary {
  font-family: 'Abril Fatface' !important;
  font-weight: 400 !important;
}

.font-secondary {
  font-family: 'Lato' !important;
}

.text-secondary {
  color: rgb(0, 144, 142) !important;
}

.text-primary {
  color: #00908e !important;
}

a {
  color: rgb(0, 144, 142);
  transition:all 0.2s;
}
 a:hover {
  color: #00ab6b;
  text-decoration:none;
}