.tech-icon > img{
  height: 48px;
  width: auto;
}

.tech-icon {
  transition: 0s;
}

.tech-icon h4 {
  border-bottom: solid 1px white;
}

.tech-icon:hover {
  transition: filter 0s;
  filter: hue-rotate(327deg) brightness(108%);
}

.tech-icon:hover > h4 {
  border-bottom: solid 1px grey;
}