.inspiration-1, .inspiration-2, .inspiration-3, .inspiration-4, .inspiration-5 {
  background-size: cover;
  background-position: 50%;
}

.inspiration-1 {
  background-image: url(./images/inspiration-1.jpg);
}

.inspiration-2 {
  background-image: url(./images/inspiration-2.jpg);
}

.inspiration-3 {
  background-image: url(./images/inspiration-3.jpg);
}

.inspiration-4 {
  background-image: url(./images/inspiration-4.jpg);
}

.inspiration-5 {
  background-image: url(./images/inspiration-5.jpg);
}

 @media (max-width: 768px) {
     .inspiration-1, .inspiration-2, .inspiration-3, .inspiration-4, .inspiration-5 {
        height: 200px;
    }
}