/*.nav-link {
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px;
    border-color: #FFF;
}*/

.nav-link:hover {
    background-color: #FFF;
}

/*@media (max-width: 736px) {
    .mainheading .h1{
        font-size: 1.5rem;
    }
}*/