.mainheading {
  position: relative; 
  width: 100%; /* for IE 6 */
}

.post-header {
	background-color: #fff;
  position: absolute; 
  bottom: 100px; 
  left: 0; 
  width: 80%; 
}

@media (max-width:540px) {
	.post-header {
		position: relative;
	  width: 100%; 
	  bottom: 0px; 
	}
}