*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
}

@each $n in 1, 2, 3, 4, 5, 6 {
  h#{$n} {
    font-family: var(--font-family-heading);
    font-weight: normal;
    font-size: var(--font-size-h#{$n});
  }
}

img {
  max-width: 100%;
}

a {
  color: var(--color-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

input {
  border-radius: var(--size-4);
  min-height: var(--size-32);
}