---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts container">
  <div class="section-title pt-5">
      <h1>Articles avec <span>{{ page.type }} '{{ page.title }}'</span></h1>
  </div>

  <div class="row listrecent">

    {% for post in site.posts %}

        {% if post.categories contains page.title %}

          {% include postbox.html type=page.entries_layout %}

        {% endif %}

    {% endfor %}

  </div>

</section>
