---
layout: default
title: Archive
---
<!-- Begin List Posts
================================================== -->
<section class="recent-posts container-fluid">

  <div class="row">

    {% include /boxes/labels.html %}

  </div>

  <div class="container mt-5">

    <!-- Newsletter
    ================================================== -->
    <div class="newsletter row bg-light py-5 my-5 text-center shadow rounded">

        <div class="col-md-10 col-lg-8 mx-auto">

            <div class="d-block font-primary mb-5 h2">Pas encore inscrit a <span class="py-2 px-3 text-primary border-primary px-2">"Volt!"</span> ?</div>

            <p class="mb-4">{{ site.data.authors.nicolas.post_cta}}</p>

            {% include /plugins/newsletter.html %} 

        </div>

    </div>  
    
    <div class="section-title py-3">
      
      <!-- Default Header + Posts
      ================================================== -->
      {% if page.url != "/stories.html" %}
      
          <h1 class="font-primary text-center mb-5">Stories de la <span>{{ page.type }} <a href="{{site.url}}{{page.url}}" class="p-2 text-primary border-primary">#{{ page.title }}</a></span></h1>
        
         <div class="row listrecent pt-2">

           {% for post in site.posts %}

              {% if post.categories contains page.title %}

                {% include /boxes/post.html type=page.entries_layout class="col-lg-4 col-md-6" %}

              {% endif %}

          {% endfor %}    

         </div>  

      {% endif %}
      
      <!-- Page Content
      ================================================== -->
      {% if page.url != "/stories.html" %}
      
        <div class="row">

          <div class="col-12">

            {{ content }}

          </div>

        </div>  
      
      {% else %}
      
        <div class="row h-100">

            <div class="col-md-4">

                {% include sidebar/stories.html %}

            </div>

            <div class="col-md-8">

              {{ content }}

            </div>

        </div>
      
      {% endif %}
  
     </div>

  </div>

</section>
