---
layout: default
---
<!-- header -->
<div class="container-fluid bg-light">
  <div class="container">
    <div class="row p-5">
      <div class="col-12">
        <div class="d-block mb-3">
          <a href="{{ site.url }}" class="text-muted">Accueil</a> > <a href="{{ site.url }}/cours.html" class="text-muted">Cours</a> > <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        </div>
        <h1 class=" text-center">{{ page.title }}</h1>
        <em class="text-muted text-center d-block">{{ page.summary }}</em>
      </div>
    </div>    
  </div>
</div>

<!-- contenu -->
<div class="container">

  <div class="row my-5">

    <div class="col-md-8">

      {{ content }}

    </div>

    <div class="col-md-4">
      <div class="sticky-top  pt-3">
        <div class="d-block bg-light shadow border border-muted p-3">
          <h3 class="d-block my-3">Inscription au cours</h3>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "{{ page.form_portalId }}",
            formId: "{{ page.form_formId }}"
          })
          </script>            
        </div>
      
      </div>
    </div>

  </div>

</div>
