<!DOCTYPE html>
<html lang="fr">

    <!-- Head
    ================================================== -->
    {% include /header/head.html %}
    
    <!-- body -->
    {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
    <body class="{{ layout }}" itemscope itemtype="http://schema.org/WebPage">
        <!-- Head
        ================================================== -->
        {% include /header/header.html %} 
        

        <!-- Content
        ================================================== --> 
        <main class="container-fluid p-0">
            
            <!-- stripe error message -->
            <div id="error-message"></div>

            {{ content }}
            
        </main>

        <!-- Footer
        ================================================== -->
        {% include /footer/footer.html %}

        <!-- JavaScript
        ================================================== -->
        
        <!-- Load Stripe.js on your website. -->
        <input type="hidden" id="stripe_key" value="{{ site.stripe_key }}">
        <script src="https://js.stripe.com/v3" async></script>
                
        {% if site.url == "http://localhost:4000" %}
          <script src="http://localhost:8000/app.js" async></script>
        {% else %}
            <script src="{{ site.url }}/assets/public/app.js" async></script>
            <!-- Start of HubSpot Embed Code -->
            <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5421786.js"></script>
            <!-- End of HubSpot Embed Code -->            
        {% endif %}


        <script id="dsq-count-scr" src="//{{site.comments.disqus.shortname}}.disqus.com/count.js" async></script>

    </body>
</html>
