---
layout: page
---

<section class="section">
  <h1>{{ page.title }}</h1>
  <p>
    <strong>📅 Dates :</strong> {{ page.start | date: "%d/%m/%Y" }}{% if
    page.end %} au {{ page.end | date: "%d/%m/%Y" }}{% endif %}
  </p>
  <p><strong>📍 Lieu :</strong> {{ page.location }}</p>
  {% if page.link %}
  <p>
    <strong>🔗 Lien :</strong>
    <a href="{{ page.link }}" target="_blank" rel="noopener">{{ page.link }}</a>
  </p>
  {% endif %}
  <div class="event-description">{{ page.content }}</div>
</section>
