---
layout: default
---

<div class="main-content">
  
  <div class="container-fluid ">

    <!-- header + cta -->
    <div class="row py-5 {{ page.bg }} d-block">

      <div class="col-md-6 bg-white py-5 my-5">

        <h1 class="mb-3 d-block h2 pt-3">{{ page.h1 }}</h1>

        <h2 class="font-secondary h3 text-muted pt-3 pb-5">{{ page.h2 }}</h2>

        {% if page.cta %}

          <a href="{{ site.devis_link }}" class="shadow btn btn-primary mb-3 p-3 font-weight-bold my-auto m-sm-3 rounded-pill">{{ page.cta }}</a>

        {% endif %}

      </div>

    </div>  

    {{ content }}
              
  </div>
  
</div>
