---
layout: default
disqus: true
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
{% assign author = site.data.authors[page.author] %}

<article itemscope itemtype="http://schema.org/BlogPosting" itemref="author_box review_box">
    <div class="container">
    	<div class="row">

            <div class="col-12">
                
                <!-- post header -->
                <section>

                    <div class="row mainheading">

                        <div class="col-md-6">

                            {% if page.expertise_url %}

                                {% for expertise in site.data.expertises %}

                                    {% if expertise.url == page.expertise_url %}

                                        <div class="d-block">

                                            <a href="{{ site.url }}{{ expertise.url }}" class="text-muted text-uppercase">{{ expertise.name }}</a>

                                        </div>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                            <h1 class="posttitle my-5">{{ page.title }}</h1> 

                            <div class="row my-5">

                                <div class="col-12 d-flex post-top-meta">
                                    <div class="d-flex flex-column">
                                        <img class="author-thumb " src="{{ author.avatar }}" alt="{{ author.display_name }}">
                                    </div>
                                    <div class="d-flex flex-column my-auto">
                                        <div class="d-block text-muted">
                                            <!-- post author -->
                                            Ecrit par <a class="text-muted" href="{{ author.web }}">{{ author.display_name }}</a>
                                            <!-- Post Date -->
                                            <time itemprop="date" datetime="{{ page.date | date:"%Y-%m-%d" }}">le {{ page.date | date_to_string }}</time>         
                                            {% if page.last_modified_at %}
                                                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                                            {% endif %}                                                
                                        </div>
                                        <a target="_blank" href="{{ author.twitter }}" class="d-flex my-auto">
                                            <i class="fab fa-twitter mx-2 my-auto"></i>
                                            <div class="d-inline-block">{{ author.handle }}</div>
                                        </a>                                                
                                    </div>                    
                                    
                                </div>

                            </div>                               
                        </div>
                        <div class="col-md-6">
                            <!-- Post Featured Image -->
                            {% if page.image %}
                                <img class="featured-image img-fluid" src="{{ site.url }}{{ page.image }}" alt="{{ page.title }}">
                            {% endif %}
                            <!-- End Featured Image -->                                    
                        </div>
                    </div>
                </section>

            </div>


    		<!-- Post Share -->
    		<div class="col-md-2 pl-0">            
               {% include share.html %}  
    		</div>
    		
    		<!-- Post --> 
            
            <div class="col-md-9 ">
                <section>
                    <div class="">
                        
                        <!-- Post Title -->
                        <header>

                            <div class="row">

                            </div>

                        </header>

                    </div>



                    <!-- Post Content -->
                    <div class="article-post" itemprop="articleBody">
                        {{content}}
                        {% if page.author %}
                            <hr />
                            <p><strong>Tu as aimé cette leçon?</strong> {{ author.post_cta}} <a href="{{ site.url }}/newsletter.html">Commence à les recevoir</a>.</p>
                        {% endif %}
                    
                    </div>
                    <!-- coaching cta -->
                    <div class="d-block mt-5">
                      {% include coaching-cta.html %}    
                    </div>
                                    
                    <!-- Author Box -->
<!--                     {% if page.author %}                
                        <div class="row post-top-meta mt-5">
                            <div class="col-md-2">
                                <img class="author-thumb" src="{{ author.avatar }}" alt="{{ author.display_name }}">
                            </div>
                            <div class="col-md-10">
                                <a target="_blank" class="link-dark" href="{{ author.web }}" rel="nofollow">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow" rel="nofollow">Follow</a>
                                <span class="author-description">{{ author.bio }}</span>                        
                            </div>
                        </div>              
                    {% endif %} -->

                    <footer>                        
                        <!-- Post Categories -->
                        <div class="after-post-tags">
                            <ul class="tags">
                                {% assign sortedCategories = page.tags | sort %}
                                {% for category in sortedCategories %}
                                <li>
                                 <span href="{{ site.url }}/category/{{ category | slugify }}/">{{ category }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- End Categories -->



                        <!-- Prev/Next -->
                        {% include footer-nav.html %}
                        <!-- End Categories -->

                    </footer>
                </section>
            </div>
            <!-- End Post -->   

    	</div>
    </div>
</article> 
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% include commentaires.html %}
<!--End Comments
================================================== -->