---
layout: default
---

<div class="main-content">
  
  <div class=" ">

    <!-- content -->
    <section class="container-fluid">

      <article>

        <div class="row mb-3 bg-light">

          <div class="col-12 mt-5 mb-5">

            <div class="container">
              
              <h1 class="font-primary mt-5 text-center mb-5">{{ page.title }}</h1>

              <div class="d-block text-center">

                <em>{{ page.summary }}</em>

              </div>  

            </div>

          </div>

        </div>

        <div class="container">

          <div class="row text-left">

            <div class="col-md-3">

              <div class="pt-3 mb-5">

                {% if page.url == "/portfolio.html" %}

                  {% include /sidebar/offres.html %}

                {% endif %}

                {% if page.url == "/about.html" %}

                  {% include /sidebar/bio.html %}
                  
                {% endif %}

                {% include /sidebar/activities.html %}
                
              </div>
            </div>

            <div class="col-md-9 mb-5">

              {{ content }}
                
            </div>

          </div>  
                  
        </div>

      </article>

    </section>

  </div>

</div>