---
layout: default
---

<div class="main-content">
  
  <div class="container-fluid ">

    <!-- content -->
    <section class="container">

      <article>

        <!-- header + cta -->

        <div class="row pt-5 pb-5 {% if page.header-img %}{{ page.header-img }}{% else %}inspiration-1{% endif %} d-block">

          <div class="col-md-6 bg-white pt-5 pb-5">

            <h1 class="mb-3 d-block h2 pt-3">{{ page.title }}.</h1>

            <h2 class="font-secondary h3 text-muted pb-3">{{ page.summary }}.</h2>  

            <a href="{{ site.devis_link }}" class="shadow btn btn-primary mb-3 p-3 font-weight-bold">{{ page.header_cta }}</a>  

          </div>

        </div>
        
        <div class="row text-justify">

          <div class="col-md-4 sticky-top">

            <div class="pt-3 mb-5">

              {% include sidebar-offres.html %}

            </div>
          </div>

          <div class="col-md-8 mb-5 pt-5">

            {{ content }}
              
          </div>

        </div>

      </article>

    </section>

    {% include footer-cta.html %}

  </div>

</div>
