---
layout: default
disqus: true
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div class="container">

    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">

            <aside>

                {% include /plugins/share.html %} 

            </aside>     
            
        </div>
        
        <!-- Post --> 
        {% assign author = site.data.authors[page.author] %}

        {% if page.ads %}

            {% assign sponsor = site.data.ads[page.ads] %}

        {% else %}

            {% assign sponsor = site.data.ads.default %}

        {% endif %}

            
        
        <div class="col-md-9 flex-first flex-md-unordered">

            <article itemscope itemtype="http://schema.org/BlogPosting">
                <time class="" itemprop="dateCreated datePublished dateModified" datetime="{{ page.date | date:"%Y-%m-%d" }}"></time>

                <div class="mainheading">

                    <!-- Post Featured Image -->
                    {% if page.image %}

                        <img itemprop="image thumbnailUrl" class="featured-image img-fluid mx-auto" src="{{ site.url }}/{{ page.image }}" alt="{{ page.title }}">
                    
                    {% endif %}

                    <div class="post-header pt-3">

                        <!-- Post heading -->
                        <h1 class="posttitle text-center d-block" itemprop="name headline">{{ page.title }}</h1>
                        <meta itemprop="url mainEntityOfPage" content="{{ site.url}}{{page.url }}">

                        <!-- Author Box -->
                        {% if page.author %}

                            <div class="d-block pt-4">
                               
                               {% include /boxes/author.html %}  

                            </div>

                        {% endif %}
                       
                    </div>                      

                </div>

                <!-- Post Content -->
                <section class="text-left" itemprop="articleBody">
                    
                    {% include /boxes/ads.html %}

                    {% if page.youtube_video_id %}

                        <div class="d-block mb-5">

                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ page.youtube_video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>

                    {% endif %}

                    <div class="article-post">
                        
                        <em class="d-block mb-2">Bonjour,</em><br>

                        {{content}}

                        {% if page.podcast %}

                            {% include boxes/stories-podcast.html %}

                        {% endif %}

                        {% if page.course %}

                            {% include boxes/stories-course.html %}

                        {% endif %}

                        {% if page.newsfeed %}

                            <hr />

                            <div class="d-flex justify-content-between mb-3">

                              <h2 class="m-0">Newsfeed</h2>
                              
                            </div>

                            {% for news in page.newsfeed %}

                                {% include boxes/stories-newsfeed.html %}

                            {% endfor %}

                        {% endif %}

                        <p>- Nicolas</p>   

                    </div>

                </section>

                <!-- article footer -->
                <footer>

                    <!-- Post Categories -->
                    <div class="after-post-tags my-5 text-center">

                        {% assign sortedCategories = page.tags | sort %}

                        {% for category in sortedCategories %}

                            <small class="m-1 d-inline-block bg-light text-muted p-1 shadow rounded">{{ category }}</small>

                        {% endfor %}

                    </div> 

                    <!-- Newsletter
                    ================================================== -->
                    <div class="newsletter row bg-light py-5 text-center shadow rounded">

                        <div class="col-md-10 col-lg-8 mx-auto">

                            <h2 class="d-block font-primary mb-5">Pas encore inscrit aux <span class="py-2 px-3 text-primary border-primary px-2">Stories</span> ?</h2>

                            <p class="mb-4">{{author.post_cta}}</p>

                            {% include /plugins/newsletter.html %} 

                        </div>

                    </div>

                </footer> 

            </article>

        </div>

    </div>

</div>

<!-- End Article
================================================== -->

<aside>

    <div class="container">

        <!-- Prev/Next -->
        <div class="row justify-content-end mt-3">

            <div class="col-md-9">

                {% include /footer/nav.html %}

            </div>  

            <div class="col-1"></div> 

        </div>

        <!-- Comments -->
        <div class="d-block">

            {% include /plugins/commentaires.html %}

        </div>

        <div class="d-block bg-light p-5 shadow rounded">

            <div class="row mb-5 text-center">

                <div class="col-12">

                    <span class="h2">Découvrez la <a href="{{site.url}}/shop.html" class="py-2 px-3 text-primary border-primary px-2">Vitrine</a></span>

                </div>
            </div>


            <div class="row">

                {% for equipement in site.data.equipements %}

                    {% if equipement.featured == true %}

                        <div class="col-md-4">

                            {% include /boxes/featured-product.html %}

                        </div>

                    {% endif %}

                {% endfor %}
                
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{site.url}}/shop.html" class="btn btn-outline-primary">Tous les produits</a>
                </div>
            </div>
            
        </div>

    </div>

</aside>
