---
layout: default
---
<!-- content -->
<section class="container-fluid">

  <article>

    <div class="row mb-3 bg-light shadow">

      <div class="col-12 mt-5 mb-5">

        <div class="container">
          
          <img src="{{ page.img }}" class="rounded mx-auto d-block" alt="{{ page.title }}" style="max-height: 35vh;">
          
          <div class="h3 font-secondary mt-5 text-muted">Case study — </div>
          
          <h1 class="font-primary my-2">{{ page.title }}</h1>
          
          <div class="text-muted mb-5">{{ page.job }}, {{ page.year }} - <a href="offres/{{ page.type.url }}">{{ page.type.name }}</a> - <a href="{{ page.link.url }}" target="_blank">{{ page.link.name }}</a></div>

          <div class="d-block text-center">

            <em>{{ page.summary }}</em>

          </div>  

        </div>

      </div>

    </div>

    <div class="container">

      <div class="row">

        <div class="col-12 my-5">

          {{ content }}

        </div>

      </div>  

    </div>

  </article>

</section>
