:root {
  /* Fonts */
  --font-size: 1.3rem;
  --line-height: 1.4;

  --font-family: 'Lato', sans-serif;
  --font-family-heading: 'Abril Fatface', sans-serif;

  /* colors */
  --color-primary: #008f8f;
  --color-secondary: #71323e;
  --color-dark: #343a40;
}
