{% assign author = site.author %}

<article
  id="{{post.slug}}"
  class="c-card c-card--flat c-card--medium u-flex u-flex--col u-flex--stretch u-flex--tight"
  itemscope=""
  itemtype="http://schema.org/BlogPosting"
>
  <meta
    itemprop="datePublished"
    content="{{ post.date | date_to_xmlschema }}"
  />
  <meta itemprop="author" content="{{ site.author.name }}" />
  {% if post.images and post.images.size > 0 %}
  <meta itemprop="image" content="{{ post.images[0] | absolute_url }}" />
  {% endif %}
  <meta itemprop="headline" content="{{ post.title }}" />
  <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ post.url }}" />
  <header class="u-flex u-flex--between">
    <div class="u-flex u-flex--tight">
      {% include /components/author.html author=author post=post %}

      <h3 class="u-full u-spacing--0" id="{{post.slug}}-title">
        <a class="u-link--dark" href="{{ post.url | absolute_url }}"
          >{{ post.title }}</a
        >
      </h3>
      <meta itemprop="url" content="{{ site.url}}{{post.url }}" />
    </div>
  </header>

  {% if post.images.size > 0 %}
  <img
    class="u-img u-img--cover u-img--rounded u-img--banner"
    src="{{ post.images[0] | relative_url }}"
    alt="Illustration de l'article : {{ post.title }}"
    loading="lazy"
  />
  {% endif %} {% assign content = post.content | strip_html %} {% assign excerpt
  = content | truncatewords: 70 %} {% if excerpt %}
  <p>{{excerpt}}</p>
  {% endif %}

  <footer>
    <ul class="u-list u-flex">
      <li>
        <a
          class="c-button c-button--primary"
          href="{{ post.url | absolute_url }}"
          aria-describedby="{{post.slug}}-title"
        >
          Lire
        </a>
      </li>

      <li>
        <a
          class="c-button"
          aria-describedby="{{post.slug}}-title"
          href="mailto:?subject={{ post.title | url_encode }}&body={{ 'Je voulais te partager ce post :' | url_encode}}%0A%0A{{ site.url | append: post.url | url_encode}}%0A%0A{{excerpt | url_encode}}"
          >Partager
        </a>
      </li>

      <li>
        <a
          class="c-button"
          href="{{ post.url | absolute_url }}#disqus_thread"
          aria-describedby="{{post.slug}}-title"
        >
          Commenter
        </a>
      </li>

      {% for category in post.categories %}
      <li class="c-tag">#{{ category }}</li>
      {% endfor %}
    </ul>
  </footer>
</article>
