---
layout: stories/landing
title: L'histoire inspirante d'un sportif
seo_description: Stories, by Nicolas Jouanno, le rendez-vous hebdomadaire pour te mettre en selle avec panache et inspiration.
permalink: stories.html
categories:
- Mobilité
- Vélo urbain
- Art de vivre
- Randonnée à vélo
- Matériel de vélo
- Voyage à vélo
- Histoire de cycliste
- Vélo taf
- Startup vélo
- Vélo et écologie
---

{% for post in site.posts limit:3 %} 

    <div class="row">

        {% include boxes/post.html class="col-12" %} 

    </div>

{% endfor %}               

<div class="d-block mb-5">

    <a href="/stories/latest/index.html" class="my-5 d-inline h5 btn btn-outline-secondary p-2">

        Voir toutes les archives <i class="fas fa-arrow-right ml-2"></i> 

    </a>

</div>

<div class="newsletter row bg-light p-5 text-center shadow rounded">

    <div class="col-12">

        <h2 class="d-block font-primary">Pas encore inscrit aux "Stories" ?</h2>

        <p>Rejoins les {{ site.subscriber_number }} lecteurs et reçois une sélection de liens insprirants et pratiques, un mix d'histoires, de produits et d'actualités sur la mobilité à vélo, chaque vendredi.</p>

        {% include /plugins/newsletter.html %} 

    </div>

</div>

<div class="d-block my-5">

    <strong class="d-block mb-2">Derniers sujets</strong>

    <ul class="list-inline">

        {% for category in page.categories %}

            <li class="list-inline-item m-0">

            {{ category }}

            {% unless forloop.last == true %}

                <span class="mx-2 text-muted">/</span>

            {% endunless %}

            </li> 

        {% endfor %}     

    </ul>

</div>

<span class="text-muted mt-5 d-block">Suivez-moi sur <a href="{{ site.data.authors.nicolas.facebook }}" target="_blank">Facebook</a> pour être informé des dernières stories. Les stories sont publiées par <a href="{{ site.url }}/about.html">Nicolas Jouanno</a>, la personnes derrière <a href="https://app.nicolasjouanno.com" target="_blank">feezify:me</a> et <a href="{{ site.url }}/shop.html">la vitrine</a>. En savoir plus sur <a href="{{ site.url }}/club.html" class="border-primary border-bottom">le club</a> et  sur <a href="{{ site.url }}/advertise.html" class="border-primary border-bottom">les publicités</a> dans les stories.</span>
